<div class="panel panel-default">
  <div class="panel-heading">
<h3 class="text-center">Why List your Space</h3>
</div>
<div class="panel-body">
<ul>
  <li>
  <div class="row">
    <div class="col-sm-3"><i class="icon icon-money icon-3x"style="color:#5cb85c"></div></i> <div class="col-sm-9">Its completely <strong>free</strong> to list on Roomnhouse.</div>
    </div>
  </li>
  <hr />
  <li>
  <div class="row">
    <div class="col-sm-3"><i class="icon icon-shield icon-3x"style="color:#5cb85c"></div></i> <div class="col-sm-9">It is very <strong>safe</strong> to list and welcome guest.</div>
    </div>
  </li>
  <hr />
  <li>
  <div class="row">
    <div class="col-sm-3"><i class="icon icon-smile icon-3x"style="color:#5cb85c"></div></i> <div class="col-sm-9">We make sure you have a <strong>pleasant</strong> experience.</div>
    </div>
  </li>
  <hr />
</ul>
</div>
<div class="panel-footer">
  <p>Got any questions? Contact us on +91-9022-543210</p>
  </div>
</div>
