content to send as a mail-->

Hello Host!!

Hii this is Shout Box helping people in getting property in there budget!!

Do you want the user to be welcomed on your property in the defined budget??

The following details are as follows::


<table>
  <tr>
    <td>Costomer Budget!</td>
    <td><%= @shout.per_night%></td>
  </tr> 
  <tr>
   <!-- <td>Customer email: </td>
    <td><%= @email%></td>
  </tr> -->
  <tr>
    <td>Customer Id</td>
    <td><%= @shout.id%></td>
  </tr>
</table> 


Now u can Tell the user that You are interested in giving them the place in there budget!!

Just By--

Click on the button: <br> 
<!--the link to the host for selecting all the properties!!