<table width="80%" border="0" cellpadding="0" cellspacing="0" style="font-family:'Times New Roman'">
	<tbody>
		<tr>
			<td width="10%"></td>
			<td align="left" width="90%" style="font-size:13px;line-height:18px;font-family:Arial,sans-serif">

				<h2 style="font-weight:normal;font-size:24px;line-height:27px;margin:0px;padding:0px 0px 18px;color:black"><%= @referer.firstname %> has invited you to join Roomnhouse.</h2>
				<%= @referer.firstname %> is saving on travel budget.&nbsp;<br><br>
				<table cellpadding="0" cellspacing="0" style="border-collapse:collapse">

					<tbody>
						<tr>
							<td>
								<big style="font-size:16px;font-family:Arial,sans-serif">
									<b>
										<a href="referer link to signup" style="color:rgb(51,102,204)" target="_blank">See how you can too.</a>
									</b>
								</big>
							</td>
						</tr>
					</tbody>
				</table>
				<br><br><br>
				This email is part of our delivery procedure for the message sent by <%= @referer.firstname %>. If you have received this email by mistake, please ignore it. The message will be deleted soon.&nbsp;<br><br>
				Enjoy travelling!<br>

				The Roomnhouse Team&nbsp;<br><br>
				<img src="http://dm1w09da1rt65.cloudfront.net/assets/logo-3ce829191aba04c537cc7404fc476bdb.png" height="23" alt="">
				<p style="margin-top:10px;color:rgb(102,102,102)">
					You have received this email from Roomnhouse Co.(postal address below). If you do not wish to receive further email communications from Roomnhouse, please&nbsp;<a href="https://roomnhouse.com/impersonation.phtml?lang_id=3&amp;email=rakesh%40roomnhouse.com&amp;block_code=bf926e&amp;m=63&amp;mid=537d0ae2000000000003004d038d77e2020e45bd0014&amp;g=0-0-1" style="color:rgb(51,102,204)" target="_blank">click here</a>&nbsp;to opt out.<br>

					Roomnhouse co. is a registered company in India with its registered office at A 2/3,Anoli Complex, Near Sanjivani Hospital, Near Vastrapur Lake,Vastrapur, Ahmedabad-380015.
				</p>
				</td>
			</tr>
		</tbody>
	</table>