<% content_for :body do %>
  <p id="notice"><%= notice %></p>

<h1>Shopping Cart</h1>

<!-- 
      if you have duplicate order id errors in testing mode.
        @cart.id can be replaced with a random number for testing rand(36**10).to_s(36) 

          Modify/Change below details as per your app.
          -->
<% payment_service_for rand(36**10).to_s(36), $payu_merchant_id,
  :amount => @checkout.total,
  :service => :payu_in,
  :html => { :id => 'payment-form' } do |service| %>

  <% service.auto_settle :prod => @checkout.offer_id.to_s + ','  ,
    :price => Offer.find(@checkout.offer_id).nightly_rate_amount,
    :name => @checkout.offer_id,
    :description => "booked a room"
  %>

<% service.credential2 'book'%>
  <% service.customer :first_name => "Sandeep",
    :last_name => "Kumar",
    :phone => "1234567890",
    :email => "sandeep.kumar@payu.in" %>
  <% service.return_url 'http://localhost:3000/payu_callback' %>      

    <input type=submit value=" Pay for your Order ">
  <% end %>
  <% end %>
