<% content_for :body do %>
  <div class="row">
  <div class="container main">
  <%
    @trip = Trip.find(@booking.trip_id)
    @offer = Offer.find(@trip.offer_id)
  %>
<div class="row">
  <div class="col-lg-12">
  </div>
</div>


    <% payment_service_for @booking.id*123456, $payu_merchant_id,
      :amount => @booking.total,
      :service => :payu_in,
      :html => { :id => 'payment-form' } do |service| %>
          <% service.auto_settle :prod => @offer.id.to_s + 'For ',
      :price => @offer.nightly_rate_amount,
      :name => @offer.translations(locale: 'en').first.title,
      :description => "Booking #{@offer.id.to_s} form #{@trip.checkin} to #{@trip.checkout} at #{@offer.nightly_rate_amount}"%>

    <% service.credential2 @offer.object_type %>  
      <% service.customer :first_name => current_user.firstname,
        :last_name => current_user.lastname,
        :phone => current_user.phone,
        :email => current_user.email %>
      <% service.return_url 'http://localhost:3000/bookings/payu_return' %>      

        <input type=submit value=" Pay for your Order ">
      <% end %>
      </div>
    </div>  
  <% end %>
