<% content_for :body do %>
<div class="container_24">
<h2 style="font-weight:400;text-align:center;">Help the flood victims by providing them shelter</h2>
<div class="grid_24">
<div class="grid_12 push_6" >
<%= render 'form' %>
</div>
</div>
</div>
<% end %>