<%content_for :body do %>
	
	<div class= "container">
	<h1>Reviews</h1>
	<p>Wanna write Reviews for your offer???</p>
</div>
	<hr>

	<div class= "container">

	<button class="btn-offer-btn"><%= link_to "Write reviews" , "trips/trip_id/offerreviews/new" %></button>
</div>

<%end%>