

<% content_for :body  do %>

<div class="container">

<%= simple_form_for(@review, url: trip_offerreview_path,:wrapper => :bootstrap3) do |f|%>

<h1>Your reviews are precious!!</h1>
<br>
<%= f.input :content , :label => "PLZ SHARE :) ",:placeholder => "Enter your reviews here....." , :required => true%>

<%=f.button :submit ,"Submit your Reviews"%>

<%end%>
</div>

<%end%>
