<% content_for :body do %>
  <div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">Sign up</h3>
          <h4 class="text-center">We need your details so your guest can contact you.</h4>
        </div>
        <div class="panel-body">
          <% unless current_user %>
            <%= render "devise/sessions/new"  %>
          <%= render "devise/registrations/new"  %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <%= render "help/why_list_sidebar"  %>
      </div>
  </div>
</div>
<% end %>
