<%= content_for :body do %>
<div class="container_24">
	<ul class="how">
		<li class="grid_24">
				<div class="grid_3 step"><p>1</p></div>
				<div class="grid_20 content">
					<h3>List your place</h3>
					<p>Make sure you fill in all the necessary details. You decide the full details of your listing, including the price and your own house rules. We can help you with taking photos and writing effective description if you want.</p>
				</div>
		</li>

		<li class="grid_24">
				<div class="grid_3 step"><p>2</p></div>
				<div class="grid_20 content">
					<h3>Receive bookings</h3>
					<p>You can receive booking from anywhere in the world. We'll notify you as soon as you receive any booking.</p>
				</div>
		</li>

		<li class="grid_24">
				<div class="grid_3 step"><p>3</p></div>
				<div class="grid_20 content">
					<h3>Review your guest</h3>
					<p>After receiving a booking you can reveiw the guest and see if you want to confirm the booking. Its totally upto you wo confirm the booking or not.</p>
				</div>
		</li>

		<li class="grid_24">
				<div class="grid_3 step"><p>4</p></div>
				<div class="grid_20 content">
					<h3>Welcome your guest</h3>
					<p>Great! So the guest has arrived welcome them.</p>
				</div>
		</li>

		<li class="grid_24">
				<div class="grid_3 step"><p>5</p></div>
				<div class="grid_20 content">
					<h3>Recieve your payments</h3>
					<p>Just after 24hrs the guest checks-into your house, you recive payment.</p>
				</div>
		</li>
	</ul>
</div>
<% end %>