<%= content_for :body do %>
<div class="container_24">
	<div class="grid_24">
		<div class="how_container">
			<div class="title">
				<h2>Travel Easy. Meet People. Pay Less. Rent out your private space. Earn Money.</h2>
				<p>With RoomnHouse, you can book accommodation all over the world.<br>Or earn money by renting out your own place.</p>
			</div>
			<div class="howitworks">
				<h2>How it Works?</h2>
				<hr>
				<div class="step">
					<h3>Search for a desired Location.</h3>
					<p>Be it a boat house in Kerela, or a tent in Himalayas. We have it all, search for the location you want to visit.</p>
				</div>
				<hr>
				<div class="step">
					<h3>Select the location, and book it.</h3>
					<p>When you find the location you want to visit, book the place.</p>
				</div>
				<hr>
				<div class="step">
					<h3>Host will confirm the booking</h3>
					<p>The Host fully authority to accept/cancel any booking request within 24hrs, although he cant do after accepting it. Don't worry we'll call you to remind about the bookings.</p>
				</div>
				<hr>
				<div class="step">
					<h3>Payments are deducted from the Guest.</h3>
					<p>When the Host accepts the booking the payment is deducted from the guest credit card, and booking is confirmed.</p>
				</div>
				<hr>
				<div class="step">
					<h3>Host receives Payment</h3>
					<p>Host receives payment after 24 hrs the guest checks-in to the place.</p>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>
<% end %>