<% content_for :body do %>
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#home" role="tab" data-toggle="tab">Step 1</a></li>
        <li><a href="" role="tab" disabled data-toggle="tab">Step 2</a></li>
        <li><a href="" role="tab" disabled data-toggle="tab">Step 3</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
    <%= render 'form' %>
        </div>
        </div>
  </div>
</div>
<% end %>
