<% content_for :body do %>
  <div class="container">
    <div class="row main">
      <header>
        <h2>List your space and make money!</h2>
        <p>Its quick, easy and free to list</p>
        <p>Do you have an apartment, spare room or a holiday home? Lis it on Room N House and earn Money from it!</p>
        <p>Start by simply filling out the form below It on takes 2 minutes!</p>
      </header>
      <div class="span8">
        <%= render :partial => 'new_form' %>
      </div>
      <div class="span4">

      </div>
    </div>
  </div>
<% end %>
