<% content_for :body do %>
  <div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">List your space</h3>
          <h4 class="text-center">Earn extra money by renting out a spare room, apartment, cottage or holiday home.</h4>
        </div>
        <div class="panel-body">
          <%= render :partial => 'new_form' %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <%= render "help/why_list_sidebar"  %>
    </div>
  </div>
</div>
<% end %>


<% content_for :js do %>
  <script type="text/javascript" charset="utf-8">
$("#offer_city").geocomplete({
details: "#new_offer",
detailsAttribute: "data-geo"
});
</script>
<% end %>








<% content_for :js do %>

<script type="text/javascript">

$(document).ready(function(){
  var max_guest_count_error = 1;
  var nightly_rate_amount_error = 1;
  var button = $('#submit');
  button.attr('disabled','disabled');

  var $offer_max_guest_count = $('#offer_max_guest_count');
  var offer_max_guest_count_value = $offer_max_guest_count.val();
  var $offer_nightly_rate_amount = $('#offer_nightly_rate_amount');
  var offer_nightly_rate_amount_value = $offer_nightly_rate_amount.val();

  if (offer_max_guest_count_value !== '' || offer_nightly_rate_amount_value !== '') {
    max_guest_count_error = 0;
    nightly_rate_amount_error = 0;
    enable_submit_button();
  }
  $offer_max_guest_count.change(function(e){
    if($offer_max_guest_count.val() == ''){ max_guest_count_error = 1 ; }
    else {
      max_guest_count_error=0;
      enable_submit_button();
    }
  });

  $offer_nightly_rate_amount.change(function(e){
    if($offer_nightly_rate_amount.val() == ''){ nightly_rate_amount_error =1 ;}
    else {
      nightly_rate_amount_error=0;
      enable_submit_button();
    }
  });

  function enable_submit_button(){
    if(max_guest_count_error == 0 && nightly_rate_amount_error == 0 ) { button.removeAttr('disabled'); }
  };
});

</script>



<% end %>
