<% content_for :body do %>
  <div id="content">
  <div class="content_inner">
    <div class="content_container paddall-5">
      <h1>About Room n House</h1>	
      <h6>A few words....</h6>
    </div>
    <div class="content_container white_bg paddall-10 page">
      <p><%= t('aboutus.p1')%></p>
      <p><%= t('aboutus.p2')%></p>
      <p><%= t('aboutus.p3')%></p>
      <img src="assets/logo.png"/>
    </div>
  </div><!-- end of class="content_inner" -->    
</div><!-- end of id="content" -->

<% end %>
