<%= content_for :body do %>
<div class="container_24">
<div class="grid_24 aboutus">
	<h2 class="main-head">All About US</h2>
<div class="grid_24 ">
	<article>
<h2 class="sub-head">The Company</h2>
<%= image_tag "logo.png", class:"img-polaroid", style: "float:right;background:#fffde8;padding:5px;margin:10px; border:none;width:500px;" %>
<p>Founded in March of 2013 and based in Mumbai, RoomNHouse is a trusted and most reliable local community marketplace for people to search, discover, list and make use of the ultimate locations in any area of their choice. It’s a common man’s destination place. Whether you need to rent out your private space to earn a quick penny, or you are in desperate needs of a place to match your requirements, be it a small get-together, a family or a business function, or just need an accommodation for your next visit; RoomNHouse is the place to be.</p>

<p>It’s a Bag-packers dream location, quotes our team.  Growing rapidly, RoomNHouse is a tightly-knit group of professionals seeking to bridge a gap between travelers and hosts. RoomNHouse spans travelers to unique experiences, at any price point, across the nation. And with world-class customer service, RoomNHouse is the easiest way for people to monetize their extra space and showcase it to the outside world, all for the cost of absolutely nothing.</p>
<p>It’s a refined search engine for people who plan to list their properties and for guests who wish to look for an easier, unambiguous and secure alternative to expensive hotels.</p>
</article>
</div>

<div class="grid_24">
	<article>
		<h2 class="sub-head">The Story</h2>
<p>RoomNHouse was founded on a principle that there is more to travel and discover rather than just traveling for travel’s sake. Based on this principle, a group of keen travelers, who were increasingly discontented with expensive hotel stays during their voyages to undiscovered places. During one such arbit trip, they discovered an alternative where guests were choosing private accommodation. After trying to connect with people, they thought of conceptualizing this format in an easier and friendlier way. And thus, this lead to the beginning of a company which would combine technical know-how, a passion for travel and a closer attention to the needs of the travelers across the globe, all rooted in the unique format named RoomNHouse. </p>
<p>RoomNHouse was launched in June 2013 and since then has been a leader in development of alternative rentals. </p>
<p>Our story is still a story in the making. Why don’t you be a part of it? List, discover and check-in with RoomNHouse when you want to check out a destination, and give us a feedback on how we can improve to deliver the best to you, to make you feel at home.</p> 
</article>
</div>
</div>
</div>

<% end %>