  <li class="col-lg-2">
  <div class="thumbnail">
    <%= image_tag @photo.direct_upload_url %>
    <%= link_to "Edit |", edit_offer_photo_path(@photo.offer_id,@photo), class: "disabled" %>
    <%= link_to " Delete", offer_photo_path(@photo.offer_id,@photo), :method => "delete"  %>
  </div>
  </li>

