<% if @discount %>
    $("#discount").html("<%= @discount.code %> has been applied. For <%= @booking.discount_amount %> Rs. discount.");
  $("#total").html("<%= @booking.total - @booking.discount_amount %>");
  $("#payment").html("<div><%= @content.html_safe%></div>");
<% else %>
    if ($("p#error").length < 1)
      {
        $("#discount").append("<p id='error'>Sorry this is Invalid code</p>");
      }
    <% end %>
