<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About infor for Nerds</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<script src="js/jquery.js"></script>
<script src="js/script.js"></script>
</head>

<body>
	<div id="header">  
    	<div class="header_container">
            <div class="content_inner">
                <div class="top_bar">
                        <div class="content_inner">
                            <nav>
								<div class="logo float-left"></div>
								<a href="">Login</a>
								<a href="">sign up</a>
								<a href="" class="button paddall-5">List your place</a>
							</nav>
                        </div>
                    </div>
            </div><!-- end of class="content_inner" -->
    	</div><!-- end of class="header_container"-->
    </div><!-- end of id="header" -->
    <div id="content">
    	<div class="content_inner">
        	 <div class="content_container paddall-5">
	            <h1>About for Nerds</h1>	
                <p>Information for geeks who like to track us:</p>
            </div>
            <div class="content_container white_bg paddall-10 page">
	            <p>Founded in November of 2012 and based in Mumbai, Room n House is a trusted and most reliable local community marketplace for people to search, discover, list and make use of the ultimate locations in any area of their choice. It’s a common man’s destination place. Whether you need to rent out your private space to earn a quick penny, or you are in desperate needs of a place to match your requirements, be it a small get-together, a family or a business function, or just need an accommodation for your next visit; Room n House is the place to be.</p>
				
				
				<p>It’s a Bag-packers dream location, quotes our team. Growing rapidly, Room n House is a tightly-knit group of professionals seeking to bridge a gap between travelers and hosts. Room n House spans travelers to unique experiences, at any price point, across the nation. And with world-class customer service, Room n House is the easiest way for people to monetize their extra space and showcase it to the outside world, all for the cost of absolutely nothing.</p>
				<p>It’s a refined search engine for people who plan to list their properties and for guests who wish to look for an easier, unambiguous and secure alternative to expensive hotels.</p>
				<img src="http://1-ps.googleusercontent.com/x/www.Room n House.com/dm1w09da1rt65.cloudfront.net/assets/500xNxlogo-3ce829191aba04c537cc7404fc476bdb.png.pagespeed.ic.RUgUFKa1mr.webp"/>
				
            </div>
        	
            
        </div><!-- end of class="content_inner" -->    
    </div><!-- end of id="content" -->
    <div id="footer">
    	<div class="content_inner">
            <div class="navagation">
                <div class="sub2">
                    <div class="group bb br">
                   	 	<h2><i class="icon-phone icon-large icon-container"></i>Helpline</h2>
                        <ul>
                        	<li><a href="">+91 9022-543210</a></li>
                        	<li><a href="">support[at]roomnhouse.com</a></li>
                      	</ul>
                    </div>
                    <div class="group  br">
                        <h2><i class="icon-building icon-container"></i>Company</h2>
                        <ul>
                        	<li><a href="">About Us</a></li>
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>				
                    
                    </div>
                </div><!-- class="sub2" -->
                <div class="sub1">
                    <div class="group bb me">
                        <h2>That is All Folks...!</h2>
                        <p>RoomNHouse simply revolutionizes your travel experience.</p>
                    </div>
                    <div id="sub1a" class="br">
                        <div class="group right">
                            <h2><i class="icon-user"></i> Customer Service</h2>
                            <ul>
                            	<li><a href="">Why Host</a></li>
                                <li><a href="">How to Host</a></li>
                                <li><a href="">How it works</a></li>                                
                                <li><a href="">Contact support</a></li>
                                <li><a href="">Cancellation Policy</a></li>
                                <li></li>
                            </ul>
                    	</div>
                    </div>
                    
                    <div id="sub1b">
                        <div class="group ">
                            <h2>Find US Elsewhere</h2>
                            <ul class="ft-social">
                                <li class="twitter"><a href="http://www.twitter.com/techstream_org" rel="me"> Twitter</a></li>
                                <li class="facebook"><a href="http://www.facebook.com/techstream.org" rel="me">facebook</a></li>
                                <li class="googlplus"><a href="http://plus.google.com/109470966265063246951?prsrc=3" rel="me">Google Plus</a></li>
                                <li class="youtube"><a href="http://youtube.com/">youtube</a></li>
                                <li class="instagram"><a href="http://insta">instagram</a></li>
                            </ul>
                        </div>
                    </div><!-- class="sub1b" -->
                </div><!-- class="sub1" -->
                
                <div class="sub3">
                    <div class="group bb bl bt960">
                        <h2><i class="icon-credit-card icon-container-small"></i>Secure Payment</h2>
                        <div class="payment"></div>
                    </div>
                    
                    
                    
                    <div class="group bl ">
                    	<p class="copyright"><span>&copy; copyright 2013</span> <a href="http://techstream.org/" class="logo"></a></p>
                    </div>
                </div><!-- class="sub3" -->
             <div class="clear"></div>
            </div><!-- class="navagation" -->        	
			<div class="ft-links">
                <a href="http://techstream.org/About_us">About</a>
                <a href="">Privacy Policy</a>
                <a href="">Terms & Conditions</a>
                <a href="http://techstream.org/sitemap">Site map</a>
            </div> <!-- class="ts-links" -->            
            
            </div><!-- end of class="content_inner" -->    
    </div><!-- end of id="footer" -->
</body>
</html>
