<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>offers</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<script src="js/jquery.js"></script>
<script src="js/script.js"></script>
</head>

<body>
	<div id="header">  
    	<div class="header_container">
            <div class="content_inner">
                <div class="top_bar">
                        <div class="content_inner">
                            <nav>
								<a class="logo float-left" href="#"></a>
								<a href="">Login</a>
								<a href="">sign up</a>
								<a href="" class="button paddall-5">List your place</a>
							</nav>
                        </div>
                    </div>
            </div><!-- end of class="content_inner" -->
    	</div><!-- end of class="header_container"-->
    </div><!-- end of id="header" -->
    <div id="content">
    	<div class="content_inner">
        	
            <div class="content_container transp ">
			<div class="info-box">
	            <h1>Booking Confirmation</h1>	
                <div id="alert" class="success">
					<h2>How this works</h2>
					<p>We will charge the prescribed amount now, but <strong>you will only be charged if the host accepts your request</strong>. They have 24 hours to reply.</p>
					<p>If the booking is <strong>declined by the host, we will refund you the complete amount without any service fee.</strong></p>
				</div>
            </div>
			</div>
        	<div class="content_container">
				<div class="info-box">
					<div class="dh-box">
					<div class="dh-header"><h2 class="dh-heading"><i class="icon-home icon-large icon-container"></i>Host info</h2></div>
					<div class="dh-content  white_bg">
						<div class="property-img disp-table-cell"><img src="https://dm1w09da1rt65.cloudfront.net/photos/images/000/000/987/medium/kanha_slider_big1.jpg?1379433969">
							
						</div>
						<div class="property-desc disp-table-cell paddall-10">
							<h2>Cosy Private Room In Koregaon Park</h2>
							<ul class="">
								<li><i class="icon-container icon-large icon-map-marker"></i>line 2</li>
								<li><i class="icon-container icon-large icon-flag"></i>city, countyr</li>
								<li><i class="icon-container icon-large icon-ban-circle"></i>cancelation/</li>
								<li><i class="icon-container icon-large icon-inr"></i>Rate per night</li>
							</ul>
						</div>
						<div class="dh-content">
						<div class="host-info disp-table-cell">
							<div class="host-img align-center">
								<h4><i class="icon-home icon-container-small"></i> Your host</h4>
                            	<img src="https://dm1w09da1rt65.cloudfront.net/users/avatars/000/000/080/medium/catejan.jpg?1377568888">
                                <h5>Host</h5>
                            </div>
						</div>
						<div class="host-message disp-table-cell paddall-10">
							<p>Host's like to know the purpose of your trip and the others travelling in your party. They also like to know what you like about their place.
							If you have any question, include these too.</p>
							<textarea></textarea>
						</div>
						</div>
						</div>
					</div>
					
					<div class="dh-box">
					<div class="dh-header"><h2 class="dh-heading"><i class="icon-money icon-large icon-container"></i>Pricing</h2></div>
					<div class="dh-content  white_bg">
						<table class="table table-bordered " width="100%">
							<tbody>
								<tr>
									<td class="txt" width="50%"><i class="icon-calendar icon-container-small"></i>Check in</td>
									<td class="txt" colspan=""><strong>22323</strong>: 1</td>
								</tr>
								<tr>
									<td class="txt" width="50%"><i class="icon-calendar icon-container-small"></i>Check Out</td>
									<td class="txt" colspan=""><strong>22323</strong>: 1</td>
								</tr>
<tr>
									<td class="txt" width="50%"><i class="icon-moon icon-container-small"></i>No of Night</td>
									<td class="txt" colspan=""><strong>22323</strong>: 1</td>
								</tr>
<tr>
									<td class="txt" width="50%"><i class="icon-user icon-container-small"></i>Guest</td>
									<td class="txt" colspan=""><strong>22323</strong>: 1</td>
								</tr>								
							
							</tbody>
						</table>
						<table class="table table-bordered " width="100%">
							<tbody>
								<tr>
									<td class="txt" width="50%"><i class="icon-bar-chart icon-container-small"></i>Rate (per night)</td>
									<td class="txt" colspan=""><i class="icon-inr icon-container-small"></i><strong>22323</strong></td>
								</tr>
								<tr>
									<td class="txt" width="50%"><i class="icon-th icon-container-small"></i>Subtotal</td>
									<td class="txt" colspan=""><i class="icon-inr icon-container-small"></i><strong>22323</strong></td>
								</tr>
								<tr>
									<td class="txt" width="50%"><i class="icon-cog icon-container-small"></i>Service fee</td>
									<td class="txt" colspan=""><i class="icon-inr icon-container-small"></i><strong>22323</strong></td>
								</tr>
								<tr >
									<td class="total" width="50%"><strong><i class="icon-star icon-container-small"></i>Total:</strong></td>
									<td class="total" colspan=""><i class="icon-inr icon-container-small"></i><strong>22323</strong></td>
								</tr>								
							
							</tbody>
						</table>
					</div>
					</div>
					
					<div class="dh-box">
					<div class="dh-header"><h2 class="dh-heading"><i class="icon-user icon-large icon-container"></i>Personal Information</h2></div>
					<div class="dh-content  white_bg align-center">
						<table class="table table-bordered " width="60%">
							<tbody>
								<tr>
									<td class="txt" width="50%"><i class="icon-user icon-container-small"></i>First Name</td>
									<td class="txt" colspan=""><strong>22323</strong>: 1</td>
								</tr>
								<tr>
									<td class="txt" width="50%"><i class="icon-user icon-container-small"></i>Last Name</td>
									<td class="txt" colspan=""><strong>22323</strong>: 1</td>
								</tr>
								<tr>
									<td class="txt" width="50%"><i class="icon-envelope icon-container-small"></i>E-mail</td>
									<td class="txt" colspan=""><strong>22323</strong>: 1</td>
								</tr>
								<tr>
									<td class="txt" width="50%"><i class="icon-phone icon-container-small"></i>Phone</td>
									<td class="txt" colspan=""><strong>22323</strong>: 1</td>
								</tr>								
							
							</tbody>
						</table>
						<p>By Submitting a booking you accept the Room n House <a href="/terms">TERMS &amp; CONDITIONS </a>, <a href="/cancellation">CANCELLATION POLICY</a>, <a href="/privacy">PRIVACY POLICY</a> &amp; House rules</p>
						<form>
							<input type="submit" class="button-bg" value="Complete Booking"/>
						</form>
						
					</div>
					</div>
					</div>
					
					
					
				</div>
				
            
            </div><!-- end of class="content_container" -->
            
        </div><!-- end of class="content_inner" -->    
    </div><!-- end of id="content" -->
    <div id="footer">
    	<div class="content_inner">
            <div class="navagation">
                <div class="sub2">
                    <div class="group bb br">
                   	 	<h2><i class="icon-phone icon-large icon-container"></i>Helpline</h2>
                        <ul>
                        	<li><a href="">+91 9022-543210</a></li>
                        	<li><a href="">support[at]roomnhouse.com</a></li>
                      	</ul>
                    </div>
                    <div class="group  br">
                        <h2><i class="icon-building icon-container"></i>Company</h2>
                        <ul>
                        	<li><a href="">About Us</a></li>
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>				
                    
                    </div>
                </div><!-- class="sub2" -->
                <div class="sub1">
                    <div class="group bb me">
                        <h2>That is All Folks...!</h2>
                        <p>RoomNHouse simply revolutionizes your travel experience.</p>
                    </div>
                    <div id="sub1a" class="br">
                        <div class="group right">
                            <h2><i class="icon-user"></i> Customer Service</h2>
                            <ul>
                            	<li><a href="">Why Host</a></li>
                                <li><a href="">How to Host</a></li>
                                <li><a href="">How it works</a></li>                                
                                <li><a href="">Contact support</a></li>
                                <li><a href="">Cancellation Policy</a></li>
                                <li></li>
                            </ul>
                    	</div>
                    </div>
                    
                    <div id="sub1b">
                        <div class="group ">
                            <h2>Find US Elsewhere</h2>
                            <ul class="ft-social">
                                <li class="twitter"><a href="http://www.twitter.com/techstream_org" rel="me"> Twitter</a></li>
                                <li class="facebook"><a href="http://www.facebook.com/techstream.org" rel="me">facebook</a></li>
                                <li class="googlplus"><a href="http://plus.google.com/109470966265063246951?prsrc=3" rel="me">Google Plus</a></li>
                                <li class="youtube"><a href="http://youtube.com/">youtube</a></li>
                                <li class="instagram"><a href="http://insta">instagram</a></li>
                            </ul>
                        </div>
                    </div><!-- class="sub1b" -->
                </div><!-- class="sub1" -->
                
                <div class="sub3">
                    <div class="group bb bl bt960">
                        <h2><i class="icon-credit-card icon-container-small"></i>Secure Payment</h2>
                        <div class="payment"></div>
                    </div>
                    
                    
                    
                    <div class="group bl ">
                    	<p class="copyright"><span>&copy; copyright 2013</span> <a href="http://techstream.org/" class="logo"></a></p>
                    </div>
                </div><!-- class="sub3" -->
             <div class="clear"></div>
            </div><!-- class="navagation" -->        	
			<div class="ft-links">
                <a href="http://techstream.org/About_us">About</a>
                <a href="">Privacy Policy</a>
                <a href="">Terms & Conditions</a>
                <a href="http://techstream.org/sitemap">Site map</a>
            </div> <!-- class="ts-links" -->            
            
            </div><!-- end of class="content_inner" -->    
    </div><!-- end of id="footer" -->
</body>
</html>
