<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>How it works</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<script src="js/jquery.js"></script>
<script src="js/script.js"></script>
</head>

<body>
	<div id="header">  
    	<div class="header_container">
            <div class="content_inner">
                <div class="top_bar">
                        <div class="content_inner">
                            <nav>
								<div class="logo float-left"></div>
								<a href="">Login</a>
								<a href="">sign up</a>
								<a href="" class="button paddall-5">List your place</a>
							</nav>
                        </div>
                    </div>
            </div><!-- end of class="content_inner" -->
    	</div><!-- end of class="header_container"-->
    </div><!-- end of id="header" -->
    <div id="content">
    	<div class="content_inner">
        	 <div class="content_container paddall-5">
	            <h1>How We Work</h1>
				<p>Find out how the system functions for different users.</p>
            </div>
    <div class="content_container paddall-10" > 
		<div class="content_inner">
		<div class="works">
		<div class="choice" id="ch">
			<div class="ch1 current" onClick="navigate_tabs('.ch1')"><h3>Be Our Guest</h3></div>
			<div class="ch2" onClick="navigate_tabs('.ch2')"><h3>Become a Host</h3></div>
		</div>
		
		<div class="choice_desc white_bg">
   			<div class="ch1_desc">
            	<h1>Be A Guest</h1>
               
                <p>Whether you want to stay in a small apartment facing the sea in Mumbai, a roof top shack in Goa, a houseboat in the picturesque backwaters of Kerala, or a palace in Jaipur, Room n House has the perfect place for you.</p>
                 <p>Choose from Properties at your desired Destination.</p>
				<div class="beourguest"> </div>
            </div>
             <div class="ch2_desc hidden">
             	<h1>Be a Host</h1>
            	<p>Do you feel that every time you step out of your house, you waste a large amount of the rent by not utilizing it? Don't feel guilty now. Utilize the maximum out of your living space by listing it on Room n House.</p>
                <p>Thousands of people are already listing their private places on Room n House, why not be a part of the ever increasing community? </p>
                <p>List your empty apartment, your extra room, or a simple and comfortable couch that's lying in the corner of your living room and earn money while you sleep!</p>
                <p>Sounds fun? Try Room n House Today.</p>
                <div class="beahost"> </div>
                
            </div>
           
		</div>
       	</div>
        
		<div class="callaction">
        		<a href="Launch" class="button">List your place now</a>
                <p>Today's solutions are complicated, difficult to manage.</p>
                <p>Room n house is simple, beautiful and just for you.</p>
        </div>
       
		 <div class="content_container paddall-5 align-center white_bg">
			<h2>Advantages of hosting with Room n House</h2>
			<div class="desc">
				<ul>
					<li>
						<div class="img_holder"><img src="pics/icons/profile.png"/></div>
						<p>User Profile</p>
					</li>
					<li>
						<div class="img_holder"><img src="pics/icons/onlinetrans.png"/></div>
						<p>Online transactions</p>
					</li>
					<li>
						<div class="img_holder"><img src="pics/icons/support.png"/></div>
						<p>Customer support</p>
					</li> 
					 <li>
						<div class="img_holder"><img src="pics/icons/photo.png"/></div>
						<p>Free Photography</p>
					</li>
					 <li>
						<div class="img_holder"><img src="pics/icons/paymentopt.png"/></div>
						<p>Payment Options</p>
					</li>
					 <li>
						<div class="img_holder"><img src="pics/icons/confirm.png"/></div>
						<p>Accept/Decline</p>
					</li> 
					<li>
						<div class="img_holder"><img src="pics/icons/email.png"/></div>
						<p>E-Mail Alerts</p>
					</li>  
					
								  
				</ul>
			</div>
		</div>
		</div>
            
	</div>				
</div>
</div>
	</div><!-- end of class="content_inner" -->    
    </div><!-- end of id="content" -->
        	
            
        
    <div id="footer">
    	<div class="content_inner">
            <div class="navagation">
                <div class="sub2">
                    <div class="group bb br">
                   	 	<h2><i class="icon-phone icon-large icon-container"></i>Helpline</h2>
                        <ul>
                        	<li><a href="">+91 9022-543210</a></li>
                        	<li><a href="">support[at]roomnhouse.com</a></li>
                      	</ul>
                    </div>
                    <div class="group  br">
                        <h2><i class="icon-building icon-container"></i>Company</h2>
                        <ul>
                        	<li><a href="">About Us</a></li>
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>				
                    
                    </div>
                </div><!-- class="sub2" -->
                <div class="sub1">
                    <div class="group bb me">
                        <h2>That is All Folks...!</h2>
                        <p>RoomNHouse simply revolutionizes your travel experience.</p>
                    </div>
                    <div id="sub1a" class="br">
                        <div class="group right">
                            <h2><i class="icon-user"></i> Customer Service</h2>
                            <ul>
                            	<li><a href="">Why Host</a></li>
                                <li><a href="">How to Host</a></li>
                                <li><a href="">How it works</a></li>                                
                                <li><a href="">Contact support</a></li>
                                <li><a href="">Cancellation Policy</a></li>
                                <li></li>
                            </ul>
                    	</div>
                    </div>
                    
                    <div id="sub1b">
                        <div class="group ">
                            <h2>Find US Elsewhere</h2>
                            <ul class="ft-social">
                                <li class="twitter"><a href="http://www.twitter.com/techstream_org" rel="me"> Twitter</a></li>
                                <li class="facebook"><a href="http://www.facebook.com/techstream.org" rel="me">facebook</a></li>
                                <li class="googlplus"><a href="http://plus.google.com/109470966265063246951?prsrc=3" rel="me">Google Plus</a></li>
                                <li class="youtube"><a href="http://youtube.com/">youtube</a></li>
                                <li class="instagram"><a href="http://insta">instagram</a></li>
                            </ul>
                        </div>
                    </div><!-- class="sub1b" -->
                </div><!-- class="sub1" -->
                
                <div class="sub3">
                    <div class="group bb bl bt960">
                        <h2><i class="icon-credit-card icon-container-small"></i>Secure Payment</h2>
                        <div class="payment"></div>
                    </div>
                    
                    
                    
                    <div class="group bl ">
                    	<p class="copyright"><span>&copy; copyright 2013</span> <a href="http://techstream.org/" class="logo"></a></p>
                    </div>
                </div><!-- class="sub3" -->
             <div class="clear"></div>
            </div><!-- class="navagation" -->        	
			<div class="ft-links">
                <a href="http://techstream.org/About_us">About</a>
                <a href="">Privacy Policy</a>
                <a href="">Terms & Conditions</a>
                <a href="http://techstream.org/sitemap">Site map</a>
            </div> <!-- class="ts-links" -->            
            
            </div><!-- end of class="content_inner" -->    
    </div><!-- end of id="footer" -->
</body>
</html>
