<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>offers</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<script src="js/jquery.js"></script>
<script src="js/script.js"></script>
</head>

<body>
	<div id="header">  
    	<div class="header_container">
            <div class="content_inner">
                <div class="top_bar">
                        <div class="content_inner">
                            <nav>
								<a class="logo float-left" href="#"></a>
								<a href="">Login</a>
								<a href="">sign up</a>
								<a href="" class="button paddall-5">List your place</a>
							</nav>
                        </div>
                    </div>
            </div><!-- end of class="content_inner" -->
    	</div><!-- end of class="header_container"-->
    </div><!-- end of id="header" -->
    <div id="content">
    	<div class="content_inner">
        	
            <div class="content_container transp">
	            <h1>YYYY PACE ssff</h1>	
                <h6>XASFASF</h6>
            </div>
        	<div class="content_container white_bg">
            	<div class="content_area paddleft">
                	<div class="post_image" ><img id="main" src="https://speakeasy-production.s3.amazonaws.com/uploads/venue_photo/image/2761/medium_720x450_r6pr62FuL4q9jbPl92cz5A.png" />
                    <div class="slider_container">
                    	<div class="slide-left-arrow" onclick="move_slider('1')"><i class="icon-long-arrow-left icon-3x"></i></div>
                        <div class="slider-view">
                        	<div class="slide-slider" id="slide-slider">
                                <div class="img-holder current" id="one">
								<img  
								onclick="slider_slide('https://speakeasy-production.s3.amazonaws.com/uploads/venue_photo/image/2761/medium_720x450_r6pr62FuL4q9jbPl92cz5A.png','one')"
								src="https://speakeasy-production.s3.amazonaws.com/uploads/venue_photo/image/2761/thumb_75x56_r6pr62FuL4q9jbPl92cz5A.png"/>
								</div>
                                
                                <div class="img-holder" id="two"><img onclick="slider_slide('https://speakeasy-production.s3.amazonaws.com/uploads/venue_photo/image/2331/medium_720x450_U-MvJmpEhRkm2tFxqrYzEw.png','two')"  src="https://speakeasy-production.s3.amazonaws.com/uploads/venue_photo/image/2331/thumb_75x56_U-MvJmpEhRkm2tFxqrYzEw.png"/></div>
                                
                                
                               
                                
                            </div>                    
                        </div>
                        <div class="slide-right-arrow" onclick="move_slider('2')"><i class="icon-long-arrow-right icon-3x"></i></div>
                    </div>
                    </div>
                    <div class="post_desc">
                    <h2>About the xasdvasdv</h2>
                    
                    <p>About Hard Rock Cafe Toronto 
Located at the corner of Yonge Street and Dundas Square, across from the Eaton Centre, the Hard Rock Cafe is in the heart of downtown Toronto. The cafe underwent a six million dollar renovation in 2001 and now offers 14,000 square feet over two levels of function space.</p>
						
                      <p>About Hard Rock Cafe Toronto 
Located at the corner of Yonge Street and Dundas Square, across from the Eaton Centre, the Hard Rock Cafe is in the heart of downtown Toronto. The cafe underwent a six million dollar renovation in 2001 and now offers 14,000 square feet over two levels of function space.</p>
<p>About Hard Rock Cafe Toronto 
Located at the corner of Yonge Street and Dundas Square, across from the Eaton Centre, the Hard Rock Cafe is in the heart of downtown Toronto. The cafe underwent a six million dollar renovation in 2001 and now offers 14,000 square feet over two levels of function space.</p>
				<ul>
                	<li>Seeeerch</li>
                    <li>Seeeerch</li>
                    <li>Seeeerch</li>
                    <li>Seeeerch</li>
                </ul>
                <div class="no-shadow dh-box">
                	<div class="dh-header"><h5 class="dh-heading"><i class="icon-archive icon-container"></i>Amenities</h5></div>
                    <div class="dh-content">
                    	<ul class="columns-3">
                            <li><i class="icon-asterisk"></i> Air Conditioning</li>
                            
                            <li><i class="icon-food"></i> Breakfast</li>
                            <li><i class="icon-laptop"></i> Cable TV</li>
                            <li><i class="icon-male"></i> Doorman</li>
                            <li><i class="icon-fire-extinguisher"></i> Dryer</li>
                            <li><i class="icon-building"></i> Elevator in Building</li>
                            <li><i class="icon-smile"></i> Kids Friendly</li>
                            <li><i class="icon-signal"></i> Wireless Internet</li>
                            <li><i class="icon-money"></i> Free Parking on Premise</li>
                            <li><i class="icon-legal"></i> Gym</li>
                            <li><i class="icon-h-sign"></i> Handicap Accessible</li>
                            <li><i class="icon-fire"></i> Heating</li>
                            
                            
                            <li><i class="icon-phone"></i> Intercom</li>
                            <li><i class="icon-signal"></i> Internet</li>
                            <li><i class="icon-food"></i> Kitchen</li>
                            <li><i class="icon-lock"></i> Lockable Room</li>
                            <li><i class="icon-ok"></i> Pets Allowed</li>
                            <li><i class="icon-ok"></i> Pool</li>
                            <li><i class="icon-ok"></i> Sauna</li>
                            <li><i class="icon-ok"></i> Smoking Allowed</li>
                            <li><i class="icon-group"></i> Suitable for Events</li>
                            <li><i class="icon-ok"></i> Towels</li>
                            <li><i class="icon-desktop"></i> TV</li>
            			</ul>
                    </div>
                </div>
                <table class="table  table-bordered " width="95%">
                    <thead>
                    <tr role="row">
                    	<th rowspan="1" colspan="1" style="width: 50%;"><i class="icon-credit-card  icon-container"></i>Pricing</th>
                        <th rowspan="1" colspan="1" style="width: 50%;"> Conditions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="txt" width="50%"><strong>Nightly:</strong> <i class="icon-inr icon-container-small"></i>4200.0</td>
                            <td class="txt" colspan=""><strong>Minimum Nights</strong>: 1</td>
                        </tr>
                        
                    
                    </tbody>
                </table>
                
                <div class="dh-box">
                	<div class="dh-header"><h5 class="dh-heading"><i class="icon-check icon-container"></i>House Rules</h5></div>
                    <div class="dh-content">
                    	
							<p>klwjehfkawfklsandkfnsadlgnasldfnldsjflsjdflihiASFOsdofjsdfnkl;dsnfl;asndfln</p>
                                           	
                    </div>
                </div>
                
				</div><!-- end of class="post_desc" -->
                </div><!-- end of class="content_area" -->
            	<div class="sidebar">
                	<div class="sidebar_container">
                    	<p class="low"><i class="icon-key"></i> Rental Price :<i class="icon-inr icon-large icon-container"></i><span class="price">23,450</span> <span class="freq">per day</span></p>

                	
                         <div class="booknow">
                             <form action="" post="">
                             	<label for="checkin"><i class="icon-calendar"></i> check in</label>
                             	<input name="checkin" type="text" />
                                <label for="checkout"><i class="icon-calendar"></i> check in</label>
                             	<input name="checkout" type="text" />
                                <label for="guest"><i class="icon-user"></i> Guest </label>
                                <select name="guest">
                                	<option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <input type="submit" value="Book Now"/>
                             </form>
                         </div>
                         <p><i class="icon-certificate icon-container"></i>Property id</p>
                         <p><i class="icon-building icon-container"></i>Property Type</p>
                         <p><i class="icon-map-marker icon-container"></i>Place XYS</p>
                     </div><!-- end of class="sidebar_container" -->
                     <div class="dh-box">
                     <div class="dh-header"><h5><i class="icon-list icon-container"></i>Details</h5></div>
                     <div class="dh-content">
                    <table class="table  table-bordered " width="100%">
                    	<thead>
                        	
                        </thead>
                        <tbody>
                        	
                            <tr><td class="txt" width="	">Accommodation</td><td  width="" class="txt"> 1</td></tr>
                            <tr><td class="txt" width="50%">Bedrooms</td><td class="txt" colspan=""> 1</td></tr>
                            <tr><td class="txt" width="50%">Beds</td><td class="txt" colspan=""> 1</td></tr>
                            <tr><td class="txt" width="50%">Bathroom</td><td class="txt" colspan=""> 1</td></tr>
                            <tr><td class="txt" width="50%">size</td><td class="txt" colspan=""> 1 SQ FT</td></tr>
                        </tbody>
                    </table>
                    </div>
                    </div>
                   	<div class="host align-center">
                        	<div class="host-img ">
                            	<h5><i class="icon-home icon-container-small"></i>Host</h5>
                            	<img src="https://dm1w09da1rt65.cloudfront.net/users/avatars/000/000/080/medium/catejan.jpg?1377568888"/>
                                
                            </div>
                            <p><strong>adsfasdfasdfasdfasdf</strong></p>
                  	</div>
                    <div class="dh-box promise">
                    	<div class="dh-header"><h5 class="align-center"><i class="icon-bullhorn icon-container-small"></i>OUR PROMISE</h5></div>
                        <div class="dh-content">
                            <p><i class="icon-phone icon-large icon-container-small"></i>Every host is verified on phone</p>
                            <p><i class="icon-shield icon-large icon-container-small"></i>Quality assured accommodation</p>
                            <p><i class="icon-lock icon-large icon-container-small"></i>Secured payment through SSL</p>
                        </div>
                    </div>
                	<div class="search_map sidebar_container">
                    	
                    </div><!-- end of class="search_map"-->
                   
                </div><!-- end of class="sidebar" -->
                
            
            </div><!-- end of class="content_container" -->
            
        </div><!-- end of class="content_inner" -->    
    </div><!-- end of id="content" -->
    <div id="footer">
    	<div class="content_inner">
            <div class="navagation">
                <div class="sub2">
                    <div class="group bb br">
                   	 	<h2><i class="icon-phone icon-large icon-container"></i>Helpline</h2>
                        <ul>
                        	<li><a href="">+91 9022-543210</a></li>
                        	<li><a href="">support[at]roomnhouse.com</a></li>
                      	</ul>
                    </div>
                    <div class="group  br">
                        <h2><i class="icon-building icon-container"></i>Company</h2>
                        <ul>
                        	<li><a href="">About Us</a></li>
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>				
                    
                    </div>
                </div><!-- class="sub2" -->
                <div class="sub1">
                    <div class="group bb me">
                        <h2>That is All Folks...!</h2>
                        <p>RoomNHouse simply revolutionizes your travel experience.</p>
                    </div>
                    <div id="sub1a" class="br">
                        <div class="group right">
                            <h2><i class="icon-user"></i> Customer Service</h2>
                            <ul>
                            	<li><a href="">Why Host</a></li>
                                <li><a href="">How to Host</a></li>
                                <li><a href="">How it works</a></li>                                
                                <li><a href="">Contact support</a></li>
                                <li><a href="">Cancellation Policy</a></li>
                                <li></li>
                            </ul>
                    	</div>
                    </div>
                    
                    <div id="sub1b">
                        <div class="group ">
                            <h2>Find US Elsewhere</h2>
                            <ul class="ft-social">
                                <li class="twitter"><a href="http://www.twitter.com/techstream_org" rel="me"> Twitter</a></li>
                                <li class="facebook"><a href="http://www.facebook.com/techstream.org" rel="me">facebook</a></li>
                                <li class="googlplus"><a href="http://plus.google.com/109470966265063246951?prsrc=3" rel="me">Google Plus</a></li>
                                <li class="youtube"><a href="http://youtube.com/">youtube</a></li>
                                <li class="instagram"><a href="http://insta">instagram</a></li>
                            </ul>
                        </div>
                    </div><!-- class="sub1b" -->
                </div><!-- class="sub1" -->
                
                <div class="sub3">
                    <div class="group bb bl bt960">
                        <h2><i class="icon-credit-card icon-container-small"></i>Secure Payment</h2>
                        <div class="payment"></div>
                    </div>
                    
                    
                    
                    <div class="group bl ">
                    	<p class="copyright"><span>&copy; copyright 2013</span> <a href="http://techstream.org/" class="logo"></a></p>
                    </div>
                </div><!-- class="sub3" -->
             <div class="clear"></div>
            </div><!-- class="navagation" -->        	
			<div class="ft-links">
                <a href="http://techstream.org/About_us">About</a>
                <a href="">Privacy Policy</a>
                <a href="">Terms & Conditions</a>
                <a href="http://techstream.org/sitemap">Site map</a>
            </div> <!-- class="ts-links" -->            
            
            </div><!-- end of class="content_inner" -->    
    </div><!-- end of id="footer" -->
</body>
</html>
