<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Search</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.css">
<script src="js/jquery.js"></script>
<script src="js/script.js"></script>
</head>

<body>
	<div id="header">  
    	<div class="header_container">
            <div class="content_inner">
                <div class="top_bar">
                        <div class="content_inner">
                            <nav>
                            <div class="logo float-left"></div>
                            <a href="">Login</a>
                            <a href="">sign up</a>
                            <a href="" class="button paddall-5">List your place</a>
                        </nav>
                        </div>
                    </div>
            </div><!-- end of class="content_inner" -->
    	</div><!-- end of class="header_container"-->
    </div><!-- end of id="header" -->
    <div id="content">
    	<div class="content_inner">
        	<div class="content_container">
            	<div class="sidebar">
                	<div class="search_map">
					<img src="images/map.jpg"/>
                    </div><!-- end of class="search_map"-->
                    <div class="dh-box">
                    	<div class="dh-header"><h2 class="dh-heading"><i class="icon-search"></i> Search</h2> </div>
                        <div class="dh-content">
                         <form action="" method="post">
                            <input type="search" placeholder="" />
                            <input type="submit" value="Go"/>
                        </form>
                        </div>
                    </div>
                    
                </div><!-- end of class="sidebar" -->
                <div class="content_area">
                	<ul class="list white_bg">
                    	<li>
                        	<a href="">
                            	<div class="thumb_holder">
	                            	<div class="thumb"><img src="https://1-ps.googleusercontent.com/sx/www.roomnhouse.com/dm1w09da1rt65.cloudfront.net/photos/images/000/000/109/medium/xDSC_1004.JPG,q1379420630.pagespeed.ic.e27Bz78MuP.webps"/>
    	                            </div>
                                </div>
                                <div class="info_holder disp-table-cell">
                                	<div class="info_desc disp-table-cell"><h2>Corner Park Facing</h2>
                                        <p><i class="icon-map-marker icon-large icon-container"></i>Gk2 , New Delhi, India</p>
                                        <p><i class="icon-user icon-large icon-container"></i> 4</p>
                                        <p><i class="icon-building icon-large icon-container"></i> Service apartment</p>
                                    </div>
                                    <div class="info_price disp-table-cell"><p><i class="icon-inr icon-large icon-container"></i></p><p class="price">9,000</p><p class="freq">per day</p></div>
                                </div>
                            </a>
                        </li>
                        <li>
							<a href="">
                            	<div class="thumb_holder">
	                            	<div class="thumb"><img src="https://dm1w09da1rt65.cloudfront.net/photos/images/000/000/987/medium/kanha_slider_big1.jpg?1379433969" />
    	                            </div>
                                </div>
                                <div class="info_holder disp-table-cell">
                                	<div class="info_desc disp-table-cell"><h2>Villa In Safari Jungle</h2>
                                        <p><i class="icon-map-marker icon-large icon-container"></i>Dist Balaghat, Madhya Pradesh , Balaghat, India</p>
                                        <p><i class="icon-user icon-large icon-container"></i> 2</p>
                                        <p><i class="icon-building icon-large icon-container"></i> Villa</p>
                                    </div>
                                    <div class="info_price disp-table-cell"><p><i class="icon-inr icon-large icon-container"></i></p><p class="price">9,500<p class="freq">per day</p></div>
                                </div>
                            </a>
                        	
                        </li>
                    </ul><!-- end of class="list"-->
                   
                </div><!-- end of class="content_area" -->
            
            </div><!-- end of class="content_container" -->
            
        </div><!-- end of class="content_inner" -->    
    </div><!-- end of id="content" -->
    <div id="footer">
    	<div class="content_inner">
            <div class="navagation">
                <div class="sub2">
                    <div class="group bb br">
                   	 	<h2><i class="icon-phone icon-large icon-container"></i>Helpline</h2>
                        <ul>
                        	<li><a href="">+91 9022-543210</a></li>
                        	<li><a href="">support[at]roomnhouse.com</a></li>
                      	</ul>
                    </div>
                    <div class="group  br">
                        <h2><i class="icon-building icon-container"></i>Company</h2>
                        <ul>
                        	<li><a href="">About Us</a></li>
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>				
                    
                    </div>
                </div><!-- class="sub2" -->
                <div class="sub1">
                    <div class="group bb me">
                        <h2>That is All Folks...!</h2>
                        <p>RoomNHouse simply revolutionizes your travel experience.</p>
                    </div>
                    <div id="sub1a" class="br">
                        <div class="group right">
                            <h2><i class="icon-user"></i> Customer Service</h2>
                            <ul>
                            	<li><a href="">Why Host</a></li>
                                <li><a href="">How to Host</a></li>
                                <li><a href="">How it works</a></li>                                
                                <li><a href="">Contact support</a></li>
                                <li><a href="">Cancellation Policy</a></li>
                                <li></li>
                            </ul>
                    	</div>
                    </div>
                    
                    <div id="sub1b">
                        <div class="group ">
                            <h2>Find US Elsewhere</h2>
                            <ul class="ft-social">
                                <li class="twitter"><a href="http://www.twitter.com/techstream_org" rel="me"> Twitter</a></li>
                                <li class="facebook"><a href="http://www.facebook.com/techstream.org" rel="me">facebook</a></li>
                                <li class="googlplus"><a href="http://plus.google.com/109470966265063246951?prsrc=3" rel="me">Google Plus</a></li>
                                <li class="youtube"><a href="http://youtube.com/">youtube</a></li>
                                <li class="instagram"><a href="http://insta">instagram</a></li>
                            </ul>
                        </div>
                    </div><!-- class="sub1b" -->
                </div><!-- class="sub1" -->
                
                <div class="sub3">
                    <div class="group bb bl bt960">
                        <h2><i class="icon-credit-card icon-container-small"></i>Secure Payment</h2>
                        <div class="payment"></div>
                    </div>
                    
                    
                    
                    <div class="group bl ">
                    	<p class="copyright"><span>&copy; copyright 2013</span> <a href="http://techstream.org/" class="logo"></a></p>
                    </div>
                </div><!-- class="sub3" -->
             <div class="clear"></div>
            </div><!-- class="navagation" -->        	
			<div class="ft-links">
                <a href="http://techstream.org/About_us">About</a>
                <a href="">Privacy Policy</a>
                <a href="">Terms & Conditions</a>
                <a href="http://techstream.org/sitemap">Site map</a>
            </div> <!-- class="ts-links" -->            
            
            </div><!-- end of class="content_inner" -->    
    </div><!-- end of id="footer" -->
</body>
</html>
