{{model.firstname}}<br />
{{model.lastname}}<br />
<label for="email"> Email: </label>
{{input type="text" class="form-control" value=model.email}}<br />
<button {{action "saveChanges" model}}>Submit</button>