// Place all the styles related to the aboutus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aboutus{
	font-family: "Source Sans Pro", helvetica, arial, sans-serif;
	.main-head{
		
		font-weight:400;
		font-size:2em;
		text-align: center;
	
	}
	padding:20px 10px;
	margin: 25px 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	.sub-head{
	
		font-weight:400;
		font-size:1.5em;
		text-align: left;
	
	}
	article{
		p{
			font-weight:300;
			font-size:1em;
		}
	}
}