$cwhite : #ECF0F1;
$clblue : #3498DB;
$cdblue : #2980B9;
$cred : #E74C3C;
$cblack : #2C3E50;
$cdwhite : #d9dbdc;
$cdred : #d62917;
.search-container{
  height:400px;
  background: image-url('home_page.jpg') center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.listing-container{
  margin: 20px auto;
  .item{
  margin-bottom:20px;
  }
  .list-title{
    text-align: left;
    font-size: 2em;
    font-weight: 600;
    color: $cblack;
  }
  .listings{
    min-height: 560px;
    margin-top: 30px;
    .item{
      width: 310px;
      height: 240px;
      margin-top: 30px;
      display: inline-block;
      position: relative;
      .price{
        position: absolute;
        background: rgba(0,0,0,0.5);
        color: $cwhite;
        text-align: center;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        font-size: 1em;
        box-shadow : 0px 0px 2px $cblack;
        font-weight: 400;
        .rs{
          font-weight: 600;
          font-size: 1.3em;
        }
      }
      &:nth-child(2){
        margin: 0px 18px;
      }
      &:nth-child(5){
        margin: 0px 18px;
      }
      &:nth-child(8){
        margin: 0px 18px;
      }
      &:nth-child(11){
        margin: 0px 18px;
      }
      &:nth-child(14){
        margin: 0px 18px;
      }
      &:nth-child(17){
        margin: 0px 18px;
      }
      &:nth-child(20){
        margin: 0px 18px;
      }
      &:nth-child(23){
        margin: 0px 18px;
      }
      .image-container{
        width: 310px;
        height: 185px;
        border: 1px solid $cblack;
        padding: 2px;
        box-shadow : 0px 0px 2px $cblack;
      }
      .name{
        padding-top:10px;
         font-size: 1.3em;
         color: $cblack;
         text-indent: 14px;
         font-weight: 400;
      }
      .info{
        font-size: 1em;
        color: $cblack;
        text-indent: 14px;
        font-weight:400;
      }
    }
  }
}

