// Place all the styles related to the howitworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.how_container{
	background:#fff;
	box-shadow:0px 0px 1px #2C3E50;
	//border:1px solid #e3e3e3;
	padding:20px;
	.title{
		text-align:center;
		p{
			font-weight:1.3em;
		}
	}
	.howitworks{
		h2{
			text-align: center;
		}
	}
}
