$cwhite : #ECF0F1;
$clblue : #3498DB;
$cdblue : #2980B9;
$cred : #E74C3C;
$cblack : #2C3E50;
.navbar{
margin-bottom:0px;}
.form-inline {
  .form-group {
  display:inline-block;
  }
}
body{
	font-family: 'Source Sans Pro','Helvetica-Neue',Helvetica,Arial,sans-serif;
	line-height: 1.428;
  font-size:14px;
 	background: $cwhite;
}
.title{
font-size:3em;
font-weight:700;
padding-top:50px;
height:300px;
color:white;
text-shadow:0px 0px 15px black;
text-align:center;
}
.search{
  background:rgba(44,62,80,0.75) ;
  border-bottom:4px solid $cblack;
  border-top:4px solid $cblack;
  vertical-align:center;
  .searchbar{
  padding-top:15px;
  }
}
.seo-travel{
	margin: 10px 0px;
	p{
	font-size:0.7em;
	}
	border-top: 1px dashed #2C3E50;
	border-bottom: 1px dashed #2C3E50;
}



.footer{
	padding: 10px 0px; 
	background: $cblack;
	color:$cwhite;
  hr{
  border:none;
  background:white;
  }
  h3{
  font-size:1.1em;
  }
  ul{
  list-style:none;
  padding-left:5px;
  font-size:0.9em;
  a{
  color:inherit;
  text-decoration:none;}
  }
}
.head-logo{
	height:25px;
}
