@font-face {
  font-family: "Fertigo Pro Regular";
  font-style: normal;
  src: local("Grandesign Regular"), font-url("fonts/Fertigo_Pro_Regular.ttf") format("truetype"); /* non-IE */
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  src: local("OpenSans"), font-url("fonts/OpenSans-Regular.ttf") format("truetype"); /* non-IE */
}

html, body {
  position: relative;
}
/*
blue:#3498db
red:#e74c3c
 */
  body {
    font-size: 14px;
    word-spacing: 1px;
    line-height: 20px;
    background: #f3f1f1;
    background-color: #f3f1f1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60px, #f5f2eb), color-stop(400px, #f3f1f1));
    background-image: -webkit-linear-gradient(#f5f2eb 60px, #f3f1f1 400px);
    background-image: linear-gradient(#f5f2eb 60px, #f3f1f1 400px);
    font-family:OpenSans,Arial,Helvetica,Verdana,sans-serif;
    color:#666;
    padding: 0;
  }
  /*misc*/
  small{
    padding: 5px 0;
    text-align:center;
    font-style:italic;
    margin: 10px 0;
    color: #A9A796;
    font-size: 0.8em;
  }
  .float-left{
    float: left;
  }
  .float-right{
    float: right;
  }
  .align-right{
    text-align:right;
  }
  .align-left{
    text-align:left;
  }
  .align-center{
    text-align:center;
  }
  .v-align-middle{
    vertical-align:middle;
  }
  .disp-table-cell{
    display:table-cell;
  }
  .disp-block{
    display:block;
  }
  .no-shadow{
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
  }
  .hide {
    display: none;
  } 
  .show {
    display: block;
  }
  .clear{
    float:none;
    clear:both;
  }
  #footer,#content{
    min-width:1080px;
  }
  #header{
    width:1000px;
 }
  ul.clearfix {
    list-style: none;
    margin:0;
    padding: 0;
    text-align: center;
  }
    ul.big, ol.big {
    margin-bottom: 2em;
    font-size: 16px;
  }
  ul.big li, ol.big li {
    line-height: 30px;
    font-weight:700;
  }
  .columns-2{
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -moz-column-rule: none;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    -webkit-column-rule: none;
    column-count: 2;
    column-gap: 30px;
    column-rule: none;
  }
  .columns-3{
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -moz-column-rule: none;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    -webkit-column-rule: none;
    column-count: 3;
    column-gap: 20px;
    column-rule: none;
  }
  /*Heading*/
  H1,H2, H3, H4, H5, H6 {
    font-family:OpenSans,Arial,Helvetica,Verdana,sans-serif;
    padding:5px 0;

  }
  H1 {	
    font-family:"Fertigo Pro Regular";
    font-size:2em;	
  }
  H2{ 
    font-size:1.6em;	/*Default size:1.5em*/
    color:#000;
    font-weight:bold;
  }
  H3{
    font-size:1.18em;	/*Default size:1.17em*/
    font-weight:bold;
  }
  H4{
    font-size:1.2em;	/*Default size:1em*/
  }
  /*Form elements*/
  .content_inner{
    min-height: 19px;
    width:80% !important;
    position: relative;
    margin: 0 auto;
  }
  /*Header*/
  #header {
    height:80px;
  }
  .header_container{
    margin:0;
    background:#000 repeat;
    box-shadow: 1px 1px 3px rgba(0,0,0,1);
    z-index: 2;
    position:fixed;
    width:100%;	
  }
  @-webkit-keyframes slideOut{
    0%{left:-30px; opacity: 0;}
    100%{left:0px; opacity: 1;}
  }
  @-moz-keyframes slideOut{
    0%{left:-30px; opacity: 0;}
    100%{left:0px; opacity: 1;}
  }
  @-o-keyframes slideOut{
    0%{left:-30px; opacity: 0;}
    100%{left:0px; opacity: 1;}
  }
  @-ms-keyframes slideOut{
    0%{left:-30px; opacity: 0;}
    100%{left:0px; opacity: 1;}
  }
  @keyframes slideOut{
    0%{left:-30px; opacity: 0;}
    100%{left:0px; opacity: 1;}
  }
  #header_home nav{
    padding:10px 0 0 0;
  }
  #header_home .logo{
    color: transparent;
    margin:-2px 0 0 0;
  }
  .top_bar nav {
    text-align: right;
  }
  .top_bar nav>a{
    margin:0 20px 0 0;
    color:#fff;
  }

.nav-cover {
padding-top: 56px;
}
.navbar{opacity:0.97;}
  .logo{
    width:150px;
    margin:5px 30px 0 30px ;
    background-image:image-url('logo.png');
    background-repeat:no-repeat;
    background-size:100%;
    text-indent:-999em;
    color:transparent !important;
  }

  /*Header for home*/
  #header_home{

  }
  .home_width{	/*Make the width 100% for the home page*/
    width:100% !important;	
    position: relative;
    height:450px;
  }
  .home_container{
    background-size:100%;
    width:auto;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    color:#fff;
  }
  .home_container .title{
    font-weight:bold;
    text-align:center;
    font-size:2.7em;
    letter-spacing:1.2px;
    margin:80px 0 20px 0;
    text-shadow:0 0 15px black;
    -webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
    -moz-animation: slideOut 0.5s ease-in-out 0.3s backwards;
    -o-animation: slideOut 0.5s ease-in-out 0.3s backwards;
    -ms-animation: slideOut 0.5s ease-in-out 0.3s backwards;	
  }
  .home_container input[type="search"]{
    width: 485px;
    padding:12px;
  }
  .home_search{
    width:100%;
    text-align:center;
  }
.home_search a{
  color:white;
  font-weight:500 !important;
  font-size : 1em;
  text-shadow: 0 0 3px black;
  }
  .home_search a:visited{
  color:white;
  font-weight:300;
  font-size : 1em;
  }
  .home_search input,.home_search select{

  }
  .home_search_add_inputs{
    opacity:1;
    webkit-animation: slideOut 1.4s ease-in-out 0.3s backwards;
    -moz-animation: slideOut 1.4s ease-in-out 0.3s backwards;
    -o-animation: slideOut 1.4s ease-in-out 0.3s backwards;
    -ms-animation: slideOut 1.4s ease-in-out 0.3s backwards;
  }
  .home_search_add_inputs, .home_search_search{
    width:100%;
    text-align:center;
    margin:20px 0 0 0;	
  }
  .home_search_add_inputs input, .home_search_add_inputs select{
    width:150px;
    border:0;
  }
  .home_search_add_inputs select{
    width: 150px;
    padding:5px;
    background-color:#fff;
  }
  .home_search_search input[type="submit"]{
    width:485px;
    padding:10px;
    font-size:20px;
  }
  .home_slider_cover{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.7)), color-stop(60%, transparent));
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.7) 0%, transparent 60%);
    background-image: linear-gradient(rgba(0,0,0,0.7) 0%, transparent 60%);
  }

  .home_slider_image{
    background-image:image-url('slider1.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
    width:auto;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
  }
  .top_bar{
    width:100%;
    height:50px;
    margin:10px 0 0 0;
  }
  /*Content*/

  #content{

  }
  #content ol.list-style{
    list-style:upper-roman;
    padding:0 0 0 20px;
    margin:5px 0 0 20px;
  }
  #content ul.list-style{
    list-style:circle;
    padding:0 0 0 20px;
    margin:5px 0 0 20px;
  }
  #content .list h3{
    color:#3498db;
  }
  .info_desc p{
    margin:2px 0;
    font-size:0.8em;
    padding:0;
  }
  .colm{
    padding:30px;
  }
  .colm2{
    width:44.1%;
  }
  .white_bg{
    background: #FFF;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  }
  .content_container{
    margin:20px auto;
    border-radius:4px;
    overflow:hidden;
  }
  .colm .button {
    width: 140px;
    padding: 10px 10px;
  }
  .content_container li{
    margin:10px 0;
    padding:0;
  }

  .transp{
    background:none;
    box-shadow:none;
  }
  .post_image{
    position:relative;
  }
  .post_image img{
    width:100%;
    height: 518px;
  }
  .property-img,.host-info{
    margin:15px 0;
    display:block;
  }
  .property-img img{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    background-color: #eeeeee;
    border: 1px solid #ccc;
    padding: 3px;
    width:450px;
  }
  .host-info img{
    width:100%;
  }
  .property-desc,.host-message{
    vertical-align:top;
  }

  /*Slider */
  .slider_container{
    position:absolute;
    width:100%;
    height:100px;
    bottom:15px;
    left:0;
    overflow:hidden;
  }
  .slide-left-arrow, .slide-right-arrow{
    width:30px;
    height:100%;
    margin:25px 20px;
    float:left;
    color:#fff;
    cursor:pointer;
  }
  .slider-view{
    width:80%;
    height:100%;
    overflow:hidden;
    margin:0 auto;
    float:left;
    position:relative;
  }
  .slide-slider{
    overflow-x:visible;
    position:relative;
    text-align:center;
    left:0;
    -webkit-transition: all 200ms linear;	 /*Safari and Chrome*/
    -moz-transition: all 200ms linear; 	     /*Firefox*/
    -o-transition: all 200ms linear;		 /*opera*/
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  #slide-slider{
    left:0;
  }
  .img-holder{
    width: 85px;
    height: 56px;
    margin:20px 5px;
    cursor:pointer;
    display:inline-block;
  }
  .img-holder img{
    width:100%;
    height: 76px;
    border:2px solid #fff;
    border-radius:3px;
  }
  .current img{
    border-color:#3498db;box-shadow:0px 0px 8px #8f6dd9;
  }
  /*End of slider*/
  .sidebar{
    display: table-cell;
    vertical-align: top;
    min-height:200px;
    width:300px;
  }
  .search_map{
    width:260px;
    height:260px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    margin:10px auto;
    padding:5px;
    background:#FFF;
  }
  .dh-box{
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    margin:10px auto;
  }
  .dh-header {
    border: none;
    padding-top: 5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    height: 35px;
    min-height: 12px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );
  }

  .dh-content {
    padding: 8px;
  }
  .dh-heading{
    font-size: 15px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    padding: 0 0 0 10px;
  }
  .search_holder{
    width:100%;
    text-align:center;
    margin:20px 0;
    background:rgba(204,204,204,0.6);
    padding:20px 0;
  }
  .sidebar_container{
    width:90%;
    margin:20px auto;
  }
  .booknow {
    width:100%;
    text-align:center;
    margin:20px 0;
  }
  .booknow input {
    border-radius:0;
    border:1px solid whitesmoke;
    margin:5px 0;
    width:60%;
  }
  .booknow select{
    width: 160px;
    border-radius: 0;
    padding:5px;
    box-shadow:none;
  }

  .booknow label, .label{
    min-width: 16px;
    padding: 4px 5px;
    margin:0;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
  }
  .booknow label{
    width:120px;
    display:inline-block;
  }

  .label-none{
    background-color:white;
    width:auto;
    min-width:160px;
    margin:0 0 0 -5px;
  }
  .booknow label {
    width:85px;
    text-align:center;
  }
  .booknow input[type="submit"]{
    color:#fff;
    padding:10px;
    margin:10px 0;
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    border: 0;
    width:80%;
    zoom: 1;
  }
  .content_area{
    display: table-cell;
    vertical-align: top;
    min-height:200px;
    width:800px;
    overflow: hidden;
    border-radius: 5px;
  }
  .content_area  ul.list-square{
    list-style:square; 
    padding: 0 0 5px 40px;
  }
  .list a:hover{
    text-decoration:none;
  }
  .content_area ol{
    padding: 0 0 5px 40px;
    list-style:lower-roman;
  }
  .info-box{
    width:80%;
    margin:10px auto;
  }
  .info-box .dh-box{
    width:100%;
  }
  .paddleft{
    padding:0 5px 0 0;
  }
  .paddall-5{
    padding:10px;
  }
  .paddall-10{
    padding:20px;
  }
  .post_desc{
    width:90%;
    margin:10px auto;
  }
  ul.list li{
    width:100%;
    border-bottom:1px solid #e5e5e5;
    margin: 0;
    padding: 0;
  }
  .list li a{
    font-size:1em;
    display:block;
  }
  .list li a:hover{
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.75);
    background: #f5f5f5;
    -webkit-transition: all 200ms linear;	 /*Safari and Chrome*/
    -moz-transition: all 200ms linear; 	     /*Firefox*/
    -o-transition: all 200ms linear;		 /*opera*/
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .list li a:visited{
    background: #f5f5f5;
    box-shadow:inset 0 2px 2px rgba(0,0,0,0.1);
  }
  .thumb_holder{
    width:240px;
    height:100%;
    display: table-cell;
  }
  .thumb{
    width:225px;
    height:175px;
    background:#fff;
    box-shadow:1px 1px 5px rgba(0,0,0,0.4);
    margin:10px;
    padding:5px;
    overflow:hidden;
  }
  .thumb img{
    width:100%;
  }
  .info_holder{
    width:560px;
    height:100%;
    vertical-align:top;
  }
  .info_desc{
    width:370px;
    padding:30px 5px 0;
  }
  .info_price{
    width:165px;
    margin:10px 0 0 0;
  }

  .info_holder p{
    margin:5px 2px;
    padding:0;
  }
  .info_price p{
    display:table-cell;
  }
  .price{
    font-size:1.5em;
    font-weight:bold;
    line-height:1em;
  }
  .freq{
    width:100%;
    font-size:0.8em;
    font-weight:normal;
    margin:0;
    padding:0;
    text-align:center;
  }
  .host{
    width:90%;
    margin:0 auto;
    overflow:hidden;
  }
  .host-img{
   margin:5px;
  }
  .host-img img{
    background:#fff;
     width:130px;
    height:130px;
    width:100%;
    box-shadow:1px 1px 5px rgba(0,0,0,0.4);
    background-color: #eeeeee;
    border: 1px solid #ccc;
    padding:3px;
  }
  .host-info-container{
    margin:0 0 10px 0;
  }
  .promise p{
    color:#3498db;
  }
  .promise .dh-content{
    padding:0;
  }
  /*Pages*/
  .page img{
    display: block;
    position: relative;
    margin: 10px auto;
    text-align: center;

  }
  /*How it works*/
  .desc ul{
    text-align: center;
  }
  .desc li{
    display: inline-block;
    width: 100px;
    margin: 20px 2px;
    vertical-align: top;
    padding: 10px;
    min-height: 150px;
    text-align:center;
    border-radius: 14px;
  }
  .desc .img_holder{
    width:100px;
    height:100px;
    border-radius:100px;
    border:1px solid rgba(199,217,234,0.5);			
    margin:0 auto;
    overflow:hidden;
  }

  .desc img{
    width: 80%;
    display: block;
    margin: 10px auto;
  }
  .desc h4{
    font-size: 1.2em;
    font-weight: bold;
  }
  .choice{
    width:100%;
    height:60px;
    margin:10px 0;
    overflow:hidden;
    border: 1px solid #fff;
  }
  .choice .ch1, .choice .ch2{
    width:49%;
    float:left;
    padding:15px 4.5px;
    color:#000;
    border-left: 1px solid #fff;
    background:rgba(199,217,234,1);
    text-align:center;
    cursor:pointer;
  }
  .choice .ch2{
    border-right:none;
  }
  .choice .ch1:hover, .choice .ch2:hover{
    background-color:#428bca;
    transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;
  }
  .choice .current{
    color:#FFF;
    background:#2c3e50;
  }
  .choice_desc{
    width: 100%;

    border: 1px solid #fff;
    position: relative;
    height: 600px;
  }
  .ch1_desc,.ch2_desc{
    padding: 3%;
    min-height: 100px;
    top: 0;
    left: 0;
    position: absolute;

  }
  .ch2_desc{
    text-align:left;
  }
  .visible{
    visibility:visible;
  }
  .hidden{
    visibility:hidden;
  }
  .beourguest{
    width: 100%;
    min-height: 366px;
    background-image: image-url('Be-Our-Guest.png');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: 50%, 50%;
  }
  .beahost{
    width: 100%;
    min-height: 366px;
    background-image:image-url('Host.png');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: 50%, 50%;
  }
  .callaction {
    z-index: 0;
    background: #ecf0f1; /* Old browsers */
    background: -moz-linear-gradient(left, #ecf0f1 0%, #d9e4ed 53%, #ecf0f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ecf0f1), color-stop(53%,#d9e4ed), color-stop(100%,#ecf0f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ecf0f1 0%,#d9e4ed 53%,#ecf0f1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ecf0f1 0%,#d9e4ed 53%,#ecf0f1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ecf0f1 0%,#d9e4ed 53%,#ecf0f1 100%); /* IE10+ */
    background: linear-gradient(to right, #ecf0f1 0%,#d9e4ed 53%,#ecf0f1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f1', endColorstr='#ecf0f1',GradientType=1 ); /* IE6-9 */
    position: relative;
    padding: 41px 0;
    margin:10px 0;
    text-align: center;
  }
  .callaction  .button ,.button-bg{
    font-size: 18px;
    width: 260px;
    line-height: 40px;
    margin: 10px auto;
  }
  .callaction p{
    margin:10px 0;
    padding:0;
  }
  /*Footer*/
body{
min-height:100%;
}
  .footer{
    background:#fff;
    border-top: 1px solid #ddd;
    padding-top:30px;
    padding-bottom:50px;
    margin-top:50px;
    bottom:0;
  }
  #footer  p{
    color:#FFF;
  }
  #footer ul li{
    list-style:none;
  }
  #footer .navagation{
    width: 910px;
    margin: 0 auto;
  }
  #footer h2{
    color: #CCC;
    text-shadow:none;
    font-size:1em;
    margin:0;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  #footer a{
    text-decoration:none;
    color:rgba(255,255,255,1);
  }
  #footer a:hover{
    color:#e74c3c;
    text-decoration:underline;
  }
  #footer .logo{
    width:115px;
    height:20px;
    background:image-url('logo.png') no-repeat;
    background-size:100%;
    margin:5px 0;
    text-indent: -9000px;
    display: -webkit-inline-box;
  }
  .sub1, .sub2, .sub3 {
    float: left;
    padding: 0;
  }
  .ft-social li{
    padding:0 0 0 25px;
    margin: 1px 0;
    background:image-url('img.png') no-repeat;
    height:17px;
  }
  .ft-social .twitter{
    background-position:-429px  4px;
  }
  .ft-social .facebook{
    background-position:-429px  -21px;
  }
  .ft-social .googlplus{
    background-position:-429px  -67px;
  }
  .ft-social .rss{
    background-position:-429px  -45px;
  }
  .ft-social .youtube{
    background-position:-429px -94px;
  }
  .ft-social .instagram{
    background-position:-431px -118px;
  }
  .payment{
    margin: 1px 0;
    background: image-url('img.png') no-repeat;
    height:97px;
    width:208px;
    border-radius:2px;

  }
  .bb {
    border-bottom: 1px solid #CCC;
  }
  .br {
    border-right: 1px solid #CCC;
  }
  .bl {
    border-left: 1px solid #CCC;
  }
  .bt {
    border-top: 1px solid #CCC;
  }
  .sub1 {
    width: 450px;
  }
  #sub1a {
    width: 217px;
    float:left;
  }
  #sub1b {
    width: 228px;
    float:left;
  }
  .group {padding: 16px;}
  .sub2 {
    width: 238px;
    padding-top: 12px;
    text-align:right;
  }
  .sub3 {
    width: 220px;
    padding-top: 12px;
  }
  .ft-links{
    border-top: 1px solid #292929;

    clear: both;
    padding: 20px 0 40px;
  }
  .ft-links a::after {
    content: ' | ';
  }
  .ft-links a::last-child a::after {
    content: ' ';
  }

  /*----- Table ------*/

  .table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    border-collapse: collapsed;
    border-left: 0;
    margin:0;
  }
  .table-bordered th,
  .table-bordered td {
    border-left: 1px solid #dddddd;
    text-align:center;
  }
  .table-bordered caption + thead tr:first-child th,
  .table-bordered caption + tbody tr:first-child th,
  .table-bordered caption + tbody tr:first-child td,
  .table-bordered colgroup + thead tr:first-child th,
  .table-bordered colgroup + tbody tr:first-child th,
  .table-bordered colgroup + tbody tr:first-child td,
  .table-bordered thead:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
  }
  .table-bordered thead:first-child tr:first-child th:first-child,
  .table-bordered tbody:first-child tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
  }
  .table-bordered thead:first-child tr:first-child th:last-child,
  .table-bordered tbody:first-child tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
  }
  .table-bordered thead:last-child tr:last-child th:first-child,
  .table-bordered tbody:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
  }
  .table-bordered thead:last-child tr:last-child th:last-child,
  .table-bordered tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
  }

  .table th {
    font-weight: bold;
  }
  .table th, .table td {
    padding: 6px;
    line-height: 18px;
    text-align:left;
    vertical-align: top;

  }
  .table-bordered  th ,.table-bordered  td{
    border-top: 1px solid #dddddd;
  }
  .table-bordered {
    border-collapse: separate;
    margin:10px auto;
  }
  .total {
    background:rgba(52,152,219,0.3);

    font-size:1.4em;
    height:20px;
    font-weight:bold;
  }
  tr{
    text-align:center;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin:0 auto;

  }
  .txt{
    text-align:left;
  }
  /*____________END OF TABLE STYLE___________________*/

  .login{
    width:400px;
    min-height:200px;
    margin:20px auto;
  }

  .login_form_holder {
    width: 100%;
    margin: 60px auto 100px;
    background:rgba(255,255,255,0.6);
    padding: 1em;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  .login_form_holder input, .login_form_holder lable{
    display:inline-block;
  }
  /*Aleryt*/
  #alert{
    padding: 15px 20px;
    margin:10px auto;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #8bc5e8;
    border: 1px solid #7ed0e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #1c628b;
  }
  #alert p{
    padding: 3px 0;
    margin:10px 0;
    color:#000;
  }
  #alert.error{
    background-color: #eddbe3;
    border-color: #e8d1df;
    color: #bd4247;
  }

  .alert-heading {
    color: inherit;
  }
  #alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
  }
  #alert.success {
    background-color: #ccddbb;
    border-color: #c6d4aa;
    color: #669533;
    display: block;
    -webkit-animation: all 5s linear ;
    -moz-animation: all 5s linear ;
    -o-animation: all 5s linear ;
    -ms-animation: all 5s linear ;
    animation: all 5s linear ;
  }
  #alert.info {
    background-color: #edebe1;
    border-color: #e0d9cb;
    display: block;
    -webkit-animation: fadeOut 5s linear forwards;
    -moz-animation: fadeOut 5s linear forwards;
    -o-animation: fadeOut 5s linear forwards;
    -ms-animation: fadeOut 5s linear forwards;
    animation: fadeOut 5s linear forwards;
  }
  #alert {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  #alert > p,
  #alert > ul {
    margin-bottom: 0;
  }
  #alert p + p {
    margin-top: 5px;
  }

  .whyhost{
    width:90%;
    margin:0 auto;
    min-height:20px;
  }
  .whyhost_rows{
    width:100%;
  }
  .whyhost_boxes{
    width:47%;
    display:inline-block;
    margin:5px 10px;
  }
  .whyhost_rows .image{
    width:100px;
    height:100px;
    margin:10px 1px;
    display:inline-block;
    vertical-align:top;

  }
  .whyhost_rows .descript{
    display:inline-block;
    padding:5px;
    width:70%;
  }
  .whyhosthd{
    padding:100px 0 0 0;
    margin:0 0 -20px 0;
    background-image:image-url('Whyhost.png');
    background-size:110%;
    background-repeat:no-repeat;
    height:250px;
  }
  .howtohosthd{
    background-image:image-url('tree_big8.jpg');
    background-size:100%;
    width:100%;
    height:280px;
    background-position:top;
    background-repeat:no-repeat;
    color:#fff;
    padding:100px 0 0 0;
    margin:10px 0;
    box-shadow:0px 2px 14px rgba(0, 0, 0, .5); 
    margin:0 0 -20px 0;
  }
  .howtohost{
    width:75%;
    margin:0 auto;
    padding:10px 20px;
    cursor:pointer;
  }
  .howtohostwhite:hover{
    box-shadow:none;
  }
  .howtohostwhite{
    border-color: #e3e3e3;
    background:#fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;		
    height:auto;
    overflow:hidden;
  }
  .heightzero{
    height:0;
    padding:0;
    background:transparent;		
  }
.usermenu{

  /* Size and position */

  position: relative; /* Enable absolute positioning for children and pseudo elements */

  float:right;
  margin:8px 0 0 0;
  color:#fff;

  cursor: pointer;

  outline: none;

}

.usermenu ul{

  padding:0;
 width:120px;
}

.usermenu:after {

  content: "";

  width: 0;

  height: 0;

  position: absolute;

  top: 50%;

  margin-top: -3px;

  right:-20px;

  border-width: 6px 6px 0 6px;

  border-style: solid;

  border-color: white transparent;

}

.usermenu .dropdown {

  position: absolute;

  top: 45px;

  left:-10px;

  width:160px;
  text-align:left;
  background: !important;

  transition: all 0.3s ease-out;

  list-style: none;

  opacity: 0;

  pointer-events: none;

}

.usermenu .dropdown li{

  margin:2px 0;

  background:rgba(255,255,255,1);

  -webkit-transition: margin 0.4s ease;

  -moz-transition: margin 0.4s ease;

  -o-transition: margin 0.4s ease;

  -ms-transition: margin 0.4s ease;

  transition: margin 0.4s ease;

}

.usermenu .dropdown li a {

  display: block;

  transition: all 0.3s ease-out;

  border: 1px solid #ddd;

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  border-radius: 0;

  margin-right: 0;

  line-height: 18px;
  padding:5px 10px;
  color: #369bd7;

  font-size: 13px;

  text-decoration: none;

} 

.usermenu .dropdown li:hover {

  margin-left:5px;

  -webkit-transition: margin 0.4s ease;

  -moz-transition: margin 0.4s ease;

  -o-transition: margin 0.4s ease;

  -ms-transition: margin 0.4s ease;

  transition: margin 0.4s ease;

}

.usermenu.active:after {

  border-width: 0 6px 6px 6px;

}



.usermenu.active .dropdown {

  opacity: 1;

  pointer-events: auto;

}
*, *:before, *:after {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
.row *{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
