<% content_for :body do %>
<div class="container">
  <div class="row">
  <%= simple_form_for @email do |f|-%>
    <%= f.input :email_doc, as: :file, label: "Email Content File (html Format)" %>
    <%= f.input :file, label: "Email Data (Xlx,xlsx or csv Format)" %>
    <button type="Submit"> Submit</button>
  <% end %>
  </div>
</div>
<% end %>