<form>
	<fieldset>
		<label for="firstname">First Name:</label>
		{{input type="text" value=fields.firstname}}
		<label for="lastname">First Name:</label>
		{{input type="text" value=fields.lastname}}
		<label for="email">First Name:</label>
		{{input type="text" value=fields.email}}
		{{input type="submit" value="Create User" click="createUser"}}

	</fieldset>
</form>