<% content_for :body do %>
	<div class="container_24">
		<div class="grid_24">
			<h2>Contact Support</h2>
			<p>Some trouble is bugging you, or need some help, you can always contact us.</p>
			<p>You can contact our support on the help line no. 09022543210</p>
			<p>Or mails us on <a href="mailto:support@roomnhouse.com">support@roomnhouse.com</a></p>
		</div>
	</div>
<% end %>