<% content_for :title do  %>
  Canceling Your Reservation Policy | Room N House
<% end %>
<% content_for :description do  %>
  "We understand that things come up and you may have to cancel or reschedule your vacation to India. Find out how to cancel your reservation online today!"
<% end %>

<% content_for :body do %>
  <div id="content">
  <div class="content_inner">
    <div class="content_container paddall-5">
      <h1>Cancellation Policies</h1>	
      <p>Want to cancel a booking, please read the terms.</p>
    </div>
    <div class="content_container white_bg paddall-10 page">
      <ol  class="list-style">
        <li>
        <p>
        How is the cancellation policy determined?<br>
        The cancellation policies are selected by the provider. The provider can choose one of three different policies: flexible, moderate, or strict. These policies are designed to protect both providers and tenants.
        </p>
        </li>
        <li>
        <p>How do I cancel a booking?<br>
        To ensure a smooth and secure process, all cancellations must be processed through Room N House.
        If you wish to cancel a booking, please contact our customer support team.
        Cancellations must be communicated by the cancelling party in written form. Cancellations must include the booking code and must be sent from the user’s email address registered with Room N House and noted in his user profile.
        Please note that a cancellation not official until after you have received a confirmation e-mail from Room N House.
        Our customer support team will immediately handle your cancellation request and inform your provider or tenant. You do not have to take any further action.
        </p>
        </li>
        <li>
        <p>
        If the tenant cancels, how are the reimbursement to the tenant and payment to the provider calculated?
        </p><ol class="list-style">
          <li>
          <h4>General regulations</h4>
          <p>
          The amount refunded to the tenant is dependent on when a booking is cancelled and the cancellation policy chosen by the provider.
          The refundable amount is the total price less the cancellation fee, which can vary. The respective amount of the cancellation fee is shown in the booking process. 
          Regardless of the cancellation policy chosen by the provider, tenants themselves are responsible for proving that the provider incurs no loss or a significantly lesser loss than the cancellation fee.
          </p>
          </li>
          <li>
          <h4>Individual cancellation policies</h4>
          <ul>
            <li>Cancellation Policy:  <strong>Flexible</strong><br>
            You will be refunded the total price minus the Room N House cancellation fee if you cancel the booking at least 2 days before check-in (by 12 noon, local time). For cancellations that are made less than 2 days before check-in, you will be refunded 5% of the total price minus the cancellation fee.
            </li>
            <li> Cancellation Policy: <strong>Moderate</strong><br>
            You will be refunded the total price minus the Room N House cancellation fee if you cancel the booking at least 4 days before check-in (by 12 noon, local time). For cancellations that are made less than 4 days before check-in, you will be refunded 5% of the total price minus the Room N House cancellation fee.
            </li>
            <li> Cancellation Policy: <strong>Strict</strong><br>
            You will be refunded half of the total price minus the Room N House cancellation fee if you cancel the booking at least 7 days before check-in (by 12 noon, local time). For cancellations that are made less than 7 days before check-in, you will be refunded 5% of the total price minus the Room N House cancellation fee.
            </li>
          </ul>
          </li>
        </ol>
        <p></p>
        </li>
        <li>
        <p>
        Can a guest cancel after already checking in?<br>
        If you have serious grounds for complaint when checking in, please contact our customer support team within 24 hours. If the accommodation has not been left in the condition as described in the agreement, we will send corresponding complaints to the provider. After reviewing the case, we will deduct the amount to be paid to the provider accordingly and refund the rest to you.
        Please note that a refund is possible only if we receive your complaint within 24 hours of checking in.
        Room N House reserves the right to demand payment at least in the amount of the processing fee from the provider.
        </p>
        </li>
        <li>
        <p>
        What happens if the provider cancels?<br>
        The tenant will be reimbursed the full price. In such cases no cancellation fees will be incurred.
        Room N House will help the tenant find alternative accommodation.
        The provider must pay a cancellation fee of 15% of the total price. The cancellation fee will rise to 50% of the total price if the provider cancels his booking less than eight days before check-in. The cancellation fee will be deducted from the provider’s next booking.
        </p>
        </li>
        <li>
        <h4>Special cancellation policies</h4>
        <ol>
          <li>
          <h4>Bereavement</h4>
          <p>In the event of bereavement within the family (mother, father, husband/wife, sister, brother, child) between seven days and 24 hours before arrival, the tenant will be reimbursed the full price. The provider will have no claim to payment. No cancellation fees will be incurred. Less than 24 hours before arriving, the tenant will receive 75% and the provider 25% of the total price. No cancellation fees will be incurred. A death certificate is required as proof.</p>
          </li>
          <li>
          <h4>Natural disasters and other unforeseeable events</h4>
          <p>If natural disasters (avalanche, blizzard, cyclone, hurricane, earthquake, flood, landslide, lightning), war, terrorism or nuclear accidents make it impossible for the provider to meet his booking obligations (and he can prove that no alternative, similar accommodation is available) the tenant will be reimbursed 75% and the provider 25% of the total price. No cancellation fees will be incurred. This also applies if transport possibilities are damaged and the tenant is unable to reach the accommodation in some other way and can provide evidence of this.</p>
          </li>
        </ol>
        </li>
      </ol>
    </div>
  </div><!-- end of class="content_inner" -->    
</div><!-- end of id="content" -->
  <% end %>
