<% content_for :body do %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <iframe frameborder="0" height="1500" width="100%" id="rc-frame" scrolling="no" src="http://www.rentalcars.com/affxml/Home.do?affiliateCode=roomnhouse&preflang=en&fts=true&primary=428bca&form-bg=4a4c49&form-text=fff&scene=05&form-hollow=true">autos</iframe>
    </div>
  </div>
</div>
<% end %>