<% content_for :body do %>
  <div class="container">
  <div class="row">
    
   <h2 class="text-center" style="padding-top: 30px;color: #111;font-weight:bold;font-size:24px;">Sharing is Caring</h2>
  <hr />
<div class="row">
  <div class="col-md-6">
    <h3 style="font-weight:bold; font-size:16px;color:#111;">STATS THAT MATTER</h3>

    <p class="text-justify" style="padding-top:10px; padding-bottom:5px;">
    Protein Energy Malnutrition (PEM) is an incidence commonly witnessed, but barely ever recognized by the many inhabitants in our city. More often than not, even the afflicted don’t know of their 
    afflictions. There are the doctors and NGOs who take up the cause and strive to bring about big changes with their seemingly small and perseverant contributions. 
<br />
    Statistics from a research paper dated October 2013 in Chennai, state that there is 22.5% incidence among children aged 3 – 5 years. We don’t need to wait for a Mumbai Statistic for us to recognize the intensity of the problem.
    </p>
    <hr />
    <h3 style="font-weight:bold; font-size:16px;color:#111;">THEY ARE NO DIFFERENT</h3>

    <p class="text-justify" style="padding-top:10px; padding-bottom:20px;">
    The simplest way to do our bit in this situation is to realize that the little people and their parents, on the street, are no different from us. We’re all human, living in the same world, under the same sky, breathing the same air, sharing the same human rights, and basic needs. So why is it that some of us must starve while others lavishly enjoy meals larger than their appetites?
    </p>
  </div>
  <div class="col-md-6">
    <div class="embed-responsive embed-responsive-16by9 text-center" style="padding-top:30px; padding-bottom:20px;">
        <iframe class="embed-responsive-item" allowfullscreen  style="width:400px; height:300px; margin:auto;" src="//www.youtube.com/embed/dzFqg0cPnL4?rel=0"></iframe>
      </div>
  </div>
  </div>
  <div class="row">
    <hr />
  <div class="col-lg-12">
  <h3 class="text-center" style=" padding: 10px;font-weight:bold; font-size:16px;color:#111;">HERE IS WHAT WE CAN DO...TOGETHER</h3>

  <p>We at Room n House are not out to level the playfield, only to work towards creating a healthier 

  nation to live in. We believe in being a part of something that’s much bigger than ourselves, and we 

  try to achieve that by making someone else’s day, as we would, our own.

  It only takes 10 minutes of your entire day, to step out and put a smile on a little child's face. The 

  same child who you see on your way to work/college. 10 minutes and that little child becomes a 

  little healthier than before.</p>
  <h3 style="font-weight:bold; font-size:16px;color:#111;">Do you have those 10 minutes to give or are you really that busy?</h3>
  </div>
  <hr />
</div>
<div class="row" style="background:white; border: 1px solid #ccc;">
  <h5 class="text-center" style=" padding: 30px;font-weight:bold; font-size:24px;color:#111;">Enroll Now For Dabba Drive</h5>
  <div class="col-sm-6">
  <h5 class="text-center" style=" padding: 10px;font-weight:bold; font-size:16px;color:#111; padding-bottom:20px;">Registration Form</h5>
  <form class="form-horizontal" role="form">
<div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Name</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Name">
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
          <input type="name" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
       
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Phone</label>
        <div class="col-sm-8">
          <input type="phone" class="form-control" id="inputEmail3" placeholder="Phone">
        </div>
      </div>
       
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Address Line 1</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Address line 1">
        </div>
      </div>
       
       <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Address Line 2</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Address Line 2">
        </div>
      </div>
      <div class="form-group">
        <label class="radio-inline col-sm-offset-4 col-sm-3">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Apna Dabba
          </label>
          <label class="radio-inline col-sm-3">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> RnH Dabba
            </label>
      </div>
            <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Accept Terms and condition
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
   <div class="row">       <button type="submit" class="btn btn-default">Register</button></div>
   <div class="row"><small class="text-center">Dabba Drive is Room n House’s initiative for the social cause of malnutrition among street children, under the Corporate Social Responsibility wing of our company.</small></div>
        </div>
     </div>
    </form>
  </div>

  <div class="col-sm-6" >
  
  <h5 class="text-center" style=" padding: 10px;font-weight:bold; font-size:16px;color:#111;">Guidlines</h5>
  <ul class="popular_destinations text-left">
    <li style="padding:7px;"><i class="icon-ok"></i><strong>Step One :</strong> Enroll on the website, and provide all the necessary details</li>
    <li style="padding:7px;"><i class="icon-ok"></i><strong>Step Two :</strong> After Enrollment, chose between <strong>a) Apna Dabba</strong> or <strong>b) RnH Dabba</strong></li>
    <li style="padding:7px;"><i class="icon-ok"></i><strong>a)</strong> If you choose apna dabba, you pack a tin foil dabba of your own and follow through with the
    drive, fill with food, and make someone's day</li>
    <li style="padding:7px;"><i class="icon-ok"></i><strong>b)</strong> If you choose RnH dabba, you'll receive one month's supply of tin foil dabbas at your doorstep
    from RnH, which you only need to fill with food and make someone's day</li>
     <li style="padding:7px;"><i class="icon-ok"></i><strong>Step Three :</strong> Share your Dabba story with us.</li>
                    </ul>
 </div>
</div>
  </div>  
  </div>
<% end %>
