<% content_for :body do %>
<div class="container">
<div class="row" style="padding-top:30px;padding-bottom:20px;">
<div class="col-sm-12">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'sunburn copy1.jpg', style: "width:100%"  %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag 'sunburn copy2.jpg' , style: "width:100%"   %>
      <div class="carousel-caption">
      </div>
    </div>
<div class="item">
      <%= image_tag 'sunburn copy3.jpg' , style: "width:100%"   %>
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="icon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="icon-chevron-right"></span>
  </a>
</div>
</div>
<div class="row" style="padding-top:20px;">
  <div class="col-sm-4">
    <a href="/packages" class="btn btn-block btn-danger">Book room packages</a>
  </div>
<div class="col-sm-4">
    <a href="/search/vagator-goa" class="btn btn-block btn-primary">Book custom room stays</a>
  </div>
<div class="col-sm-4">
    <a href="http://in.bookmyshow.com/concerts/sunburn/goa/" class="btn btn-block btn-success">Sunburn Tickets</a>
  </div>
</div>
<div class="row" style="padding-top:20px;">
  <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              FAQs
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <li>Q. What are Early Bird Tickets</li>
            <li>A. Early bird tickets are a 3 day General Admission (G.A.) tickets which will be available at a special price for a limited period. You can save up to 25% if you buy them on 11th September -12pm (IST) on www.sunburn.in</li>
            <li>Q. How and where do I collect my tickets/wristbands ?</li>
            <li>A. Ticket are to be collected from the Ticket Booth at the venue over the period of the event (27-28-29 December). </li>
            <li>You will need photo ID proof, print out of the confirmation email from ShowClix or Book My Show &amp; a letter of authorization, BOTH from the cardholder (if the card used to purchase the ticket is not yours). Entry / Wrist bands will be given upon handover of the ticket. We would also need a bank transaction receipt if you have booked the tickets through 'Online Banking'.</li>
            <li>Q. Which debit/credit cards can i use to buy the early bird tickets?</li> 
            <li>We accept all debit/credit cards including MasterCard, Visa, Maestro, American Express &amp; Diners Card</li>
            <li>Q. What documents should I bring if I have booked a ticket through a friends or parents debit or credit card</li>
            <li>A. Printout of the confirmation email from Showclix  or from Book My Show, Photo copy of Debit/Credit card used. Photocopy of Valid Photo ID of the debit/credit card holder Valid PhotoID of the person using the ticket. Authorization Letter (Format mentioned at bottom of the page)</li>
            <li>Q. Isthere any other verification that I can provide instead of a copy of mydebit/credit card</li>
            <li>A. No, only these documents mentioned above, will be used for verification purposes.</li>
            <li>Q.Can I swap/upgrade a G.A. ticket to VIP ticket</li>
            <li>A. Yes, you will have to be present at the venue when collecting your ticket. The only exception will be made if you have used someone else's credit card to make the purchase - you will need an authorized letter from the credit card holder (Format mentioned at bottom of the page)</li>
            <li>Q. Can I buy tickets using cash?</li>
            <li>A. Yes, you can buy your tickets in cash from our authorized ticketing partners.</li> 
            <li>Q. How old do I have tobe to enter Sunburn Goa 2014 ?</li>
            <li>A. You must be of 18years and above / above the LEGAL Drinking Age (LDA).</li>
            <li>Q. Will I be able toget a refund for the tickets if I do not attend the festival</li>
            <li>A. No refund will be provided for tickets even in case of any rescheduling.</li>
            <li>Q. Will I need to carrya photo id along for ticket verification purposes</li>
            <li>A. Yes. A valid Photo ID i.e. PAN Card, Passport, Driver's License etc.</li>
            <li>Q. Will my VIP Ticketallow me backstage</li>
            <li>A. No, there is no backstage access with any ticket.</li>
            <li>Q. Do the tickets giveaccess to free food and beverages</li>
            <li>A. Early bird Tickets are for general admission only. No free alcohol or food would be provided against the tickets. However, you can buy the same inside the venue or at the time of ticket purchase online.</li>
            <li>Q. Are there additional charges for booking a ticket online ?</li>
            <li>A. Yes, a nominal service change will be added per transaction.</li>
            <li>Q. What is the maximum number of tickets I can purchase ?</li>
            <li>A. A maximum of 10 tickets per transaction can be purchased.</li>
            <li>Q. What if I am reaching the venue later, can I use separate copies of the same ticket for the non-cardholders to enter separately</li>
            <li>A. No, unfortunately it is not possible.</li>
            <li>Q. What should I do if I purchase a ticket, but live outside India?</li>
            <li>A. Please provide a copy of your passport and credit card/debit card at the ticketing booth at the venue for your tickets.</li>
            <li>Q. Where can I read ticketing 'Terms &amp; Conditions' ?</li>
            <li>A. The ticket terms and conditions will be provided before you purchase your ticket.</li>
            <li>Q. Can I re-enter the venue during the day if I leave?</li>
            <li>A. Yes, as long as your entry wristband is intact and not tampered with, you can re-enter the venue through the official entry points at any time during event hours</li>
            <li>Q. Are there any travel packages available for Sunburn Goa 2014?</li>
            <li>A. Yes, we will have travel packages for Sunburn Goa 2014 which will be released soon. Stay tuned for more details.</li>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Terms and Conditions
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>

<% end %>
