<% content_for :body do %>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-5 text-center">
        <%= image_tag 'sunburnlogo.png', class: "img-responsive", style: "width:100%"  %>
      </div>
          </div>
    <div class="row">
      <h1 class="text-center">Packages are being assembled.
      Come back at 1:30 PM.</h1>
      <h2 class="text-center">Meanwhile checkout <a href="http://roomnhouse.com/search/vagator-goa?checkin=12%2F27%2F2014&checkout=12%2F30%2F2014" class="btn btn-danger btn-lg">Custom Goa Stays</a></h2>
    </div>
  </div>
<% end %>
