<% content_for :body do %>
	<div class="row">
		<div class="container">
			<h2>Contact Support</h2>
			<p>Some trouble is bugging you, or need some help, you can always contact us.</p>
			<p>You can contact our support on the help line no. 09022543210</p>
			<p>Or mails us on <a href="mailto:support@roomnhouse.com">support@roomnhouse.com</a></p>
      <h2>Office Address:</h2>
      <p>A/1, Om Shri Sai Seva Sadan, Plot no. 78, <br /> Gorai 2, Borivali(west) <br /> Mumbai- 400092</p>
		</div>
	</div>
<% end %>
