<% content_for :body do %>
  <div id="content">
  <div class="content_inner">
    <div class="content_container paddall-5">
      <h1>How can we help you?</h1>	
      <h6>Have trouble with our service, </h6>
    </div>
    <div class="content_container">
      <div class="colm colm2 float-left align-left">
        <h2>Room n House</h2>
        <p>C/201,Ajit Nagar,<br />
        J. B. Nagar,<br/>
        Andheri East.<br/>
        Mumbai-400059</p>
        <ul class="naked bold big">
          <li><i class="icon-phone icon-large icon-container-small"></i> +91-9022-543210</li>
          <li><i class="icon-envelope icon-large icon-container-small"></i> support[at]roomnhouse.com</li>
        </ul>
      </div>
      <div class="colm colm2 float-left align-left white_bg">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=&amp;sll=19.227918,72.823484&amp;sspn=0.011468,0.021136&amp;gl=in&amp;g=Gorai+2,+Borivali+West,+Mumbai,+Maharashtra&amp;ie=UTF8&amp;ll=19.224165,72.838025&amp;spn=0.022936,0.042272&amp;t=m&amp;z=15&amp;output=embed"></iframe>
      </div>
    </div>
    <p>&nbsp;</p>
  </div><!-- end of class="content_inner" -->    
</div><!-- end of id="content" -->
<% end %>
