<html>
<head>
    <title>Why host</title>
    <link rel="stylesheet" href="http://1-ps.googleusercontent.com/x/www.roomnhouse.com/roomnhouse-assets.s3.amazonaws.com/assets/A.application-f7bb1301bdfbc8a2f5daba8d2fa010f8.css.pagespeed.cf.KPDjKZv7ux.css"/>
    <script type="text/javascript" src="jquery.js"></script>
    <style>
        #Content {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;;
            position: relative;
            padding: 100px 0 0 0;
        }
        .headtext{
            text-align: center;
            width: 90% important!;
            margin: 0 auto;
            padding: 10px 0;
        }
        .headtext h3, .headtext h1{
            font-family: 'Source Sans Pro','Helvetica-Neue',Helvetica,Arial,sans-serif;
            color: #2c3e50;
            text-shadow: 0 0 15px #fff;
            margin: 15px 0;
        }
		 h1{
			 text-align:center;
		 }

		.hostnow {
			z-index: 0;
			background: #ecf0f1; /* Old browsers */
			background: -moz-linear-gradient(left, #ecf0f1 0%, #d9e4ed 53%, #ecf0f1 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ecf0f1), color-stop(53%,#d9e4ed), color-stop(100%,#ecf0f1)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left, #ecf0f1 0%,#d9e4ed 53%,#ecf0f1 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left, #ecf0f1 0%,#d9e4ed 53%,#ecf0f1 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left, #ecf0f1 0%,#d9e4ed 53%,#ecf0f1 100%); /* IE10+ */
			background: linear-gradient(to right, #ecf0f1 0%,#d9e4ed 53%,#ecf0f1 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f1', endColorstr='#ecf0f1',GradientType=1 ); /* IE6-9 */
			position: relative;
			padding: 41px 0;
			text-align: center;
		}
		.button {
			background: #527acc;
			color: #fff;
			font-size: 18px;
			width: 260px;
			height: 50px;
			line-height: 50px;
			border-radius: 3px;
			display: block;
			margin: 30px auto;
			text-align: center;
			text-decoration: none;
			-webkit-transition: background-color .5s;
			-moz-transition: background-color .5s;
			transition: background-color .5s;
		}
				a.button:hover{
			background: #8db374;
			color: #fff;
			text-decoration:none;
		}
		.whyhost{
			width:90%;
			margin:0 auto;
			min-height:20px;
		}
		.whyhost_rows{
			width:100%;
		}
		.whyhost_boxes{
			width:47%;
			display:inline-block;
			margin:5px 10px;
		}
		.whyhost_rows .image{
			width:100px;
			height:100px;
			margin:10px 1px;
			display:inline-block;
			vertical-align:top;
			
		}
		.whyhost_rows .descript{
			display:inline-block;
			padding:5px;
			width:70%;
		}
		.whyhosthd{
			padding:100px 0 0 0;
			background-image:url(pics/Whyhost.png);
			background-size:100%;
			background-repeat:no-repeat;
			height:400px;
		}
		.red{
			color:#eaaaaa;
		}
    </style>
    <script>
		function navigate_tabs(page){
			$("#ch div").removeClass("current");
			$(page).addClass("current");
			$(".ch1_desc").addClass("hidden");
			$(".ch2_desc").addClass("hidden");
			$(page+'_desc').removeClass("hidden");
			$(page+'_desc').addClass("visible");
		}
	</script>
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img alt="Logo" class="head-logo" src="http://1-ps.googleusercontent.com/x/www.roomnhouse.com/roomnhouse-assets.s3.amazonaws.com/assets/xlogo-3ce829191aba04c537cc7404fc476bdb.png.pagespeed.ic.RUgUFKa1mr.webp"></a>
        <div class="nav-collapse navbar-responsive-collapse">
            <form class="navbar-form pull-left" action="">
                <input type="text" class="form-control col-lg-8" placeholder="Search">
            </form>
            <ul class="nav navbar-nav pull-right">
                <p class="navbar-text">Book on: 9022-543210</p>
                <li><a href="/floods">Flood Victims</a></li>
                <li><a href="/users/sign_in">Login</a></li>
                <li><a href="/users/sign_up">Signup</a></li>

                <li>
                 <span>
                    <a href="/offers/new" class="btn btn-primary" style="margin-top:10px">List Your Place</a>
                    </span>
                </li>

            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div>
<div class="headtext whyhosthd">
        <h1>Hosts <span class="icon-heart red"></span> Room n House</h1>
               
    </div>
<div id="Content">
    
	
        
        <div class="whyus">
        	<h1>Advantages of hosting with Room n House</h1>
            <div class="whyhost">
            	<div class="whyhost_rows">
                	<div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/profile.png"/></div>
                        <div class="descript">
                        	<h3>Profile</h3>
                             <p>Learn about & message with potential guests before they book.</p>
                        </div>
                    </div>
                    <div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/onlinetrans.png"/></div>
                        <div class="descript">
                        	<h3>Online transactions</h3>
                            <p>Room n House handles all payments ensuring you get paid, and on time.</p>
                        </div>
                    </div>
                </div>
                
                <div class="whyhost_rows">
                	<div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/support.png"/></div>
                        <div class="descript">
                        	<h3>Customer support</h3>
                             <p>Our community loyalty team is available around the clock</p>
                        </div>
                    </div>
                    <div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/photo.png"/></div>
                        <div class="descript">
                        	<h3>Free photography</h3>
                            <p>We will send a professional photographer at no charge.</p>
                        </div>
                    </div>
                </div>
                <div class="whyhost_rows">
                	<div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/earnreview.png"/></div>
                        <div class="descript">
                        	<h3>Earn reviews</h3>
                             <p>Room n House reviews help you build a real reputation.</p>
                        </div>
                    </div>
                    <div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/paymentopt.png"/></div>
                        <div class="descript">
                        	<h3>Payment options</h3>
                            <p>Get paid via direct deposit, or check.</p>
                        </div>
                    </div>
                </div>
                <div class="whyhost_rows">
                	<div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/confirm.png"/></div>
                        <div class="descript">
                        	<h3>Accept/Decline</h3>
                             <p>When a request is submitted, you approve who gets to stay.</p>
                        </div>
                    </div>
                    <div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/oneclick.png"/></div>
                        <div class="descript">
                        	<h3>1-click listing</h3>
                            <p>Post once & your listing is active until you turn it off.</p>
                        </div>
                    </div>
                </div>
                <div class="whyhost_rows">
                	<div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/multiplelist.png"/></div>
                        <div class="descript">
                        	<h3>Multiple listings</h3>
                            <p>Manage listings around the world with one account.</p>
                        </div>
                    </div>
                    <div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/cancel.png"/></div>
                        <div class="descript">
                        	<h3>Cancellation policies</h3>
                            <p>Choose your flavor, we uphold them for you.</p>
                        </div>
                    </div>
                </div>
                
                <div class="whyhost_rows">
                	<div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/1clicklist.png"/></div>
                        <div class="descript">
                        	<h3>Autopost options</h3>
                            <p>Send your listing to Facebook & Twitter in 1 click.</p>
                        </div>
                    </div>
                    <div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/calender.png"/></div>
                        <div class="descript">
                        	<h3>Calendar</h3>
                            <p>Easily manage your availability & reservations.</p>
                        </div>
                    </div>
                </div>
                <div class="whyhost_rows">
                	<div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/anyplace.png"/></div>
                        <div class="descript">
                        	<h3>List any space</h3>
                            <p>Apartments, boats, castles, islands, cabins, and more.</p>
                        </div>
                    </div>
                    <div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/email.png"/></div>
                        <div class="descript">
                        	<h3>Mail alerts</h3>
                            <p>Get notifications instantly on your mail.</p>
                        </div>
                    </div>
                </div>
                <div class="whyhost_rows">
                	<div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/textalert.png"/></div>
                        <div class="descript">
                        	<h3>Text Alerts</h3>
                            <p>Get notification on your mobile phone.</p>
                        </div>
                    </div>
                    <div class="whyhost_boxes">
                        <div class="image"><img src="pics/icons/flixi.png"/></div>
                        <div class="descript">
                        	<h3>Flexible pricing</h3>
                            <p>Set seasonal pricing & fees from within your account.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="hostnow">
        		<a href="Launch" class="button">List your place now</a>
                <p>Today's solutions are complicated, difficult to manage.</p>
                <p>Room n house is simple, beautiful and just for you.</p>
        </div>
		</div>

    
</div><!-- end of id="contente" -->

<div class="row footer">
    <div class="container footer-inner">
        <div class="col-lg-3">
            <h3>Customer Service</h3>
            <hr>
            <ul>
                <li><a href="/how">How RoomNHouse works</a></li>
                <li><a href="/support">Contact support</a></li>
                <li><a href="/terms">Terms &amp; Conditions</a></li>
                <li><a href="/cancellation">Cancellation Policy</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h3>About RoomnHouse</h3>
            <hr>
            <ul>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="http://smartrecruiters.com/roomnhouse">Jobs</a></li>
                <li><a href="http://blog.roomnhouse.com">blog</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h3>Join us on</h3>
            <hr>
            <ul>
                <li><a href="https://www.facebook.com/roomnhouse">Facebook</a></li>
                <li><a href="https://twitter.com/RoomNHouse">Twitter</a></li>
                <li><a href="https://plus.google.com/u/0/108260865872924249293/">Google +</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h3>Secure payment</h3>
            <hr>
            <ul>
                <li>Paypal</li>
                <li>Visa</li>
                <li>Norton secure</li>
            </ul>
        </div>
    </div>
</div>
</body>