<style>
#DIV_1 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: table;
    height: 156px;
    text-align: center;
    vertical-align: middle;
    width: 1308px;
    perspective-origin: 654px 78px;
    transform-origin: 654px 78px;
    background: rgb(254, 204, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_1*/

#CENTER_2 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 156px;
    width: 1308px;
    perspective-origin: 654px 78px;
    transform-origin: 654px 78px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#CENTER_2*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 114px;
    text-align: -webkit-center;
    width: 1308px;
    perspective-origin: 654px 57px;
    transform-origin: 654px 57px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 15px 0px 0px;
}/*#DIV_3*/

#DIV_4, #DIV_8, #DIV_12, #DIV_16, #DIV_20 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    height: 99px;
    text-align: -webkit-center;
    width: 261.59375px;
    perspective-origin: 130.796875px 49.5px;
    transform-origin: 130.796875px 49.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_4, #DIV_8, #DIV_12, #DIV_16, #DIV_20*/

#DIV_5, #DIV_9, #DIV_13, #DIV_17, #DIV_21 {
    box-sizing: border-box;
    height: 19px;
    text-align: -webkit-center;
    width: 261.59375px;
    perspective-origin: 130.796875px 9.5px;
    transform-origin: 130.796875px 9.5px;
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0px 0px 1px;
}/*#DIV_5, #DIV_9, #DIV_13, #DIV_17, #DIV_21*/

#A_6, #A_10, #A_18, #A_22 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: -webkit-center;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s linear 0s;
}/*#A_6, #A_10, #A_18, #A_22*/

#IMG_7 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    max-height: 80px;
    max-width: 95%;
    text-align: -webkit-center;
    width: 176px;
    perspective-origin: 88px 40px;
    transform-origin: 88px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_7*/

#IMG_11 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    max-height: 80px;
    max-width: 95%;
    text-align: -webkit-center;
    width: 186px;
    perspective-origin: 93px 40px;
    transform-origin: 93px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_11*/

#A_14 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: -webkit-center;
    text-decoration: none;
    background: rgb(227, 33, 41) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.3s linear 0s;
}/*#A_14*/

#IMG_15 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    max-height: 80px;
    max-width: 95%;
    text-align: -webkit-center;
    width: 149px;
    perspective-origin: 74.5px 40px;
    transform-origin: 74.5px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_15*/

#IMG_19 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    max-height: 80px;
    max-width: 95%;
    text-align: -webkit-center;
    width: 98px;
    perspective-origin: 49px 40px;
    transform-origin: 49px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_19*/

#IMG_23 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    max-height: 80px;
    max-width: 95%;
    text-align: -webkit-center;
    width: 248.5px;
    perspective-origin: 124.25px 40px;
    transform-origin: 124.25px 40px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_23*/

#DIV_24 {
    box-sizing: border-box;
    clear: both;
    color: rgb(255, 255, 255);
    text-align: -webkit-center;
    width: 1308px;
    perspective-origin: 654px 0px;
    transform-origin: 654px 0px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_24*/

#DIV_25 {
    box-sizing: border-box;
    height: 38px;
    text-align: -webkit-center;
    width: 1308px;
    perspective-origin: 654px 19px;
    transform-origin: 654px 19px;
    font: normal normal normal 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 10px;
}/*#DIV_25*/

#B_26 {
    box-sizing: border-box;
    text-align: -webkit-center;
    font: normal normal bold 13px/normal 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}/*#B_26*/


</style>
<div class="footer">
<div id="DIV_1">
	<div id="DIV_3">
			<!--
			<div>
				 <a href="http://www.counterculture.co.in"><img src="http://tgiof.com/2014/wp-content/themes/tgiof/custom/images/by_counterculture.png" alt='' /><img src="/images/by_counterculture_2.png" alt='' /></a>
			</div>
			<div>
				 <a href="http://www.commoncolors.com"><img src="http://tgiof.com/2014/wp-content/themes/tgiof/custom/images/by_commoncolors.png" alt='' /><img src="/images/by_commoncolors_2.png" alt='' /></a>
			</div> -->
			<div id="DIV_4">
				<div id="DIV_5">
					Brewed by
				</div> <a href="http://www.counterculture.co.in" id="A_6"><img src="http://tgiof.com/2014/wp-content/themes/tgiof/custom/images/logo_counterculture_new.png" id="IMG_7" alt='' /></a>
			</div>
			<div id="DIV_8">
				<div id="DIV_9">
					Accommodations partner
				</div> <a href="#" id="A_10"><img src="http://tgiof.com/2014/wp-content/themes/tgiof/custom/images/logo_roomnhouse_new.png" id="IMG_11" alt='' /></a>
			</div>
			<div id="DIV_12">
				<div id="DIV_13">
					Curated by
				</div> <a href="http://www.artistivity.com" id="A_14"><img src="http://tgiof.com/2014/wp-content/themes/tgiof/custom/images/logo_artistivity_new.png" id="IMG_15" alt='' /></a>
			</div>
			<div id="DIV_16">
				<div id="DIV_17">
					Event partnered by
				</div> <a href="http://www.ezoneclub.com" id="A_18"><img src="http://tgiof.com/2014/wp-content/themes/tgiof/custom/images/logo_ezone_new.png" id="IMG_19" alt='' /></a>
			</div>
			<div id="DIV_20">
				<div id="DIV_21">
					Event produced by
				</div> <a href="http://www.commoncolors.com" id="A_22"><img src="http://tgiof.com/2014/wp-content/themes/tgiof/custom/images/logo_commoncolors.png" id="IMG_23" alt='' /></a>
			</div>
			<div id="DIV_24">
			</div>
		</div>
		<div id="DIV_25">
			<b id="B_26">For queries mail help@commoncolors.com</b>
		</div>
</div>
</div>
