
<style>
  #DIV_12 {
    background-position: 0px 0px;
    color: rgb(68, 68, 68);
    height: 61px;
    left: 0px;
    position: fixed;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 1308px;
    z-index: 2000;
    perspective-origin: 654px 30.5px;
    transform-origin: 654px 30.5px;
    background: rgb(84, 35, 102) url(http://d3b0nyjpldz569.cloudfront.net/skin/frontend/default/mobileshoppe/images/bg_header.png) repeat-x scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_1*/

#DIV_12:after {
    clear: both;
    color: rgb(68, 68, 68);
    text-align: center;
    width: 1308px;
    perspective-origin: 654px 0px;
    transform-origin: 654px 0px;
    content: '.';
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 0px/0px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#DIV_1:after*/

#DIV_22 {
    color: rgb(68, 68, 68);
    text-align: center;
    width: 1200px;
    perspective-origin: 600px 0px;
    transform-origin: 600px 0px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 0px 54px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_2*/

#A_3 {
    color: rgb(68, 68, 68);
    display: block;
    float: left;
    height: 46px;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 4px;
    width: 115px;
    perspective-origin: 57.5px 23px;
    transform-origin: 57.5px 23px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px 13px;
    outline: rgb(68, 68, 68) none 0px;
}/*#A_3*/

#STRONG_4 {
    color: rgb(68, 68, 68);
    display: block;
    height: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 0px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal bold 0px/0px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#STRONG_4*/

#IMG_5 {
    color: rgb(68, 68, 68);
    height: 46.765625px;
    max-width: 100%;
    text-align: center;
    vertical-align: top;
    width: 115px;
    perspective-origin: 57.5px 23.375px;
    transform-origin: 57.5px 23.375px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#IMG_5*/

</style>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menubar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "RoomnHouse", root_path, class: "logo navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
  </nav>

  <div id="DIV_12">
    <div id="DIV_22">
     <a href="http://www.muzenly.com/" id="A_3"><strong id="STRONG_4"></strong><img src="http://d3b0nyjpldz569.cloudfront.net/skin/frontend/default/mobileshoppe/images/logo.png" alt="" id="IMG_5" /></a>
  </div>
</div>
