<style type="text/css">
  #DIV_1 {
    color: rgb(255, 255, 255);
    height: 449px;
    width: 1308px;
    perspective-origin: 654px 229.5px;
    transform-origin: 654px 229.5px;
    background: rgb(0, 0, 0) url(http://soundtrot.com/images/footer.png) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 10px;
}/*#DIV_1*/

#DIV_2 {
    color: rgb(255, 255, 255);
    height: 435px;
    width: 1000px;
    perspective-origin: 500px 217.5px;
    transform-origin: 500px 217.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    margin: 0px 154px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_2*/

#DIV_3 {
    color: rgb(255, 255, 255);
    height: 250px;
    position: relative;
    width: 1000px;
    perspective-origin: 500px 127.5px;
    transform-origin: 500px 127.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 0px 0px;
}/*#DIV_3*/

#DIV_4, #DIV_14, #DIV_24 {
    color: rgb(255, 255, 255);
    float: left;
    height: 205px;
    position: relative;
    width: 250px;
    perspective-origin: 125px 102.5px;
    transform-origin: 125px 102.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_4, #DIV_14, #DIV_24*/

#H2_5, #H2_15, #H2_25, #H2_39 {
    color: rgb(255, 255, 255);
    height: 24px;
    width: 250px;
    perspective-origin: 125px 24.5px;
    transform-origin: 125px 24.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold 16px/24px 'Open Sans', sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 0px 20px;
}/*#H2_5, #H2_15, #H2_25, #H2_39*/

#P_6, #P_8, #P_10, #P_12, #P_16, #P_18, #P_20, #P_22, #P_26, #P_29, #P_32, #P_35 {
    color: rgb(187, 189, 192);
    height: 24px;
    width: 240px;
    perspective-origin: 125px 19.5px;
    transform-origin: 125px 19.5px;
    border: 0px none rgb(187, 189, 192);
    font: normal normal normal 13px/24px 'Open Sans', sans-serif;
    margin: 0px;
    outline: rgb(187, 189, 192) none 0px;
    padding: 15px 10px 0px 0px;
}/*#P_6, #P_8, #P_10, #P_12, #P_16, #P_18, #P_20, #P_22, #P_26, #P_29, #P_32, #P_35*/

#A_7, #A_9, #A_13, #A_19, #A_23, #A_30, #A_33, #A_36 {
    color: rgb(187, 189, 192);
    text-decoration: none;
    border: 0px none rgb(187, 189, 192);
    font: normal normal normal 13px/24px 'Open Sans', sans-serif;
    outline: rgb(187, 189, 192) none 0px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}/*#A_7, #A_9, #A_13, #A_19, #A_23, #A_30, #A_33, #A_36*/

#A_11, #A_17, #A_27 {
    color: rgb(187, 189, 192);
    text-decoration: none;
    border: 0px none rgb(187, 189, 192);
    font: normal normal normal 13px/24px 'Open Sans', sans-serif;
    outline: rgb(187, 189, 192) none 0px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}/*#A_11, #A_17, #A_27*/

#A_21 {
    color: rgb(187, 189, 192);
    text-decoration: none;
    border: 0px none rgb(187, 189, 192);
    font: normal normal normal 13px/24px 'Open Sans', sans-serif;
    outline: rgb(187, 189, 192) none 0px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}/*#A_21*/

#IMG_28, #IMG_31, #IMG_37 {
    color: rgb(187, 189, 192);
    height: 15px;
    width: 15px;
    perspective-origin: 10px 7.5px;
    transform-origin: 10px 7.5px;
    border: 0px none rgb(187, 189, 192);
    font: normal normal normal 13px/24px 'Open Sans', sans-serif;
    outline: rgb(187, 189, 192) none 0px;
    padding: 0px 5px 0px 0px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}/*#IMG_28, #IMG_31, #IMG_37*/

#IMG_34 {
    color: rgb(187, 189, 192);
    height: 15px;
    width: 15px;
    perspective-origin: 10px 7.5px;
    transform-origin: 10px 7.5px;
    border: 0px none rgb(187, 189, 192);
    font: normal normal normal 13px/24px 'Open Sans', sans-serif;
    outline: rgb(187, 189, 192) none 0px;
    padding: 0px 5px 0px 0px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}/*#IMG_34*/

#DIV_38 {
    color: rgb(255, 255, 255);
    float: left;
    height: 49px;
    position: relative;
    width: 250px;
    perspective-origin: 125px 24.5px;
    transform-origin: 125px 24.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_38*/

#CENTER_40 {
    color: rgb(255, 255, 255);
    height: 180px;
    width: 1000px;
    perspective-origin: 500px 90px;
    transform-origin: 500px 90px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#CENTER_40*/

#DIV_41 {
    color: rgb(255, 255, 255);
    height: 76px;
    text-align: -webkit-center;
    width: 1000px;
    perspective-origin: 500px 38px;
    transform-origin: 500px 38px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_41*/

#IMG_42, #IMG_43 {
    color: rgb(255, 255, 255);
    height: 76px;
    text-align: -webkit-center;
    width: 68px;
    perspective-origin: 34px 38px;
    transform-origin: 34px 38px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_42, #IMG_43*/

#IMG_44 {
    color: rgb(255, 255, 255);
    height: 76px;
    text-align: -webkit-center;
    width: 68px;
    perspective-origin: 34px 38px;
    transform-origin: 34px 38px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_44*/

#HR_45 {
    color: rgb(255, 255, 255);
    height: 1px;
    text-align: -webkit-center;
    width: 800px;
    perspective-origin: 400px 0.5px;
    transform-origin: 400px 0.5px;
    background: rgb(124, 124, 124) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#HR_45*/

#IMG_46 {
    color: rgb(255, 255, 255);
    height: 25px;
    text-align: -webkit-center;
    width: 145px;
    perspective-origin: 72.5px 12.5px;
    transform-origin: 72.5px 12.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_46*/

#P_47 {
    color: rgb(167, 169, 171);
    height: 24px;
    text-align: -webkit-center;
    width: 1000px;
    perspective-origin: 500px 12px;
    transform-origin: 500px 12px;
    border: 0px none rgb(167, 169, 171);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    margin: 14px 0px;
    outline: rgb(167, 169, 171) none 0px;
}/*#P_47*/

#A_48 {
    color: rgb(255, 255, 255);
    text-align: -webkit-center;
    text-decoration: none;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold 14px/24px 'Open Sans', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}/*#A_48*/

#DIV_49 {
    clear: both;
    color: rgb(255, 255, 255);
    width: 1308px;
    perspective-origin: 654px 0px;
    transform-origin: 654px 0px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 14px/24px 'Open Sans', sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_49*/



</style>
<div class="footer">
<div id="DIV_1">
  <div id="DIV_2">
    <div id="DIV_3">
      <div id="DIV_4">
        <h2 id="H2_5">
          Quick Links
        </h2>
        <p id="P_6">
          <a href="#" id="A_7">How it works?</a>
        </p>
        <p id="P_8">
          <a href="#" id="A_9">Discover</a>
        </p>
        <p id="P_10">
          <a href="#" id="A_11">About us</a>
        </p>
        <p id="P_12">
          <a href="#" id="A_13">Jobs</a>
        </p>
      </div>
      <div id="DIV_14">
        <h2 id="H2_15">
          Service
        </h2>
        <p id="P_16">
          <a href="#" id="A_17">FAQs</a>
        </p>
        <p id="P_18">
          <a href="#" id="A_19">Terms &amp; Conditions</a>
        </p>
        <p id="P_20">
          <a href="#" id="A_21">Cancellations</a>
        </p>
        <p id="P_22">
          <a href="#" id="A_23">Refunds</a>
        </p>
      </div>
      <div id="DIV_24">
        <h2 id="H2_25">
          Support
        </h2>
        <p id="P_26">
          <a href="#" id="A_27"><img src="http://soundtrot.com/images/phone.png" id="IMG_28" alt='' />+91 22 6525 5590</a>
        </p>
        <p id="P_29">
          <a href="#" id="A_30"><img src="http://soundtrot.com/images/mail.png" id="IMG_31" alt='' />info@chorush.com</a>
        </p>
        <p id="P_32">
          <a href="#" id="A_33"><img src="http://soundtrot.com/images/tweet.png" id="IMG_34" alt='' />@soundtrot</a>
        </p>
        <p id="P_35">
          <a href="#" id="A_36"><img src="http://soundtrot.com/images/where.png" id="IMG_37" alt='' />Mumbai, IND</a>
        </p>
      </div>
      <div id="DIV_38">
        <h2 id="H2_39">
          Secure Payments
        </h2>
      </div>
    </div>
    <!-- END div#footer -->

    <div id="DIV_41">
        <img src="http://soundtrot.com/images/twitter.png" id="IMG_42" alt='' /><img src="http://soundtrot.com/images/facebook.png" id="IMG_43" alt='' /><img src="http://soundtrot.com/images/youtube.png" id="IMG_44" alt='' />
      </div><hr id="HR_45" /><img src="http://soundtrot.com/images/soundtrot-footer.png" id="IMG_46" alt='' />
      <p id="P_47">
        @ 2012-2014 - Chorush Entertainment Pvt. Ltd., Mumbai | Coded with love at <a href="http://www.crazypencilmedia.com" id="A_48">Crazy Pencil Media</a>
      </p>
  </div> <!--
  <div>
    <img src="http://soundtrot.com/images/pay-sec-full.png" height="45px" alt='' />
    <table>
      <tr>
        <
        <td>
           <a href="#"><img src="http://soundtrot.com/images/pay-sec.jpg" width="110px" height="45px" alt='' /></a>
        </td>
        <td>
           <a href="#"><img src="http://soundtrot.com/images/safe-secure.jpg" height="35px" width="70px" alt='' /></a>
        </td>
        <td>
           <a href="#"><img src="http://soundtrot.com/images/visa.jpg" height="35px" width="70px" alt='' /></a>
        </td>
        <td>
           <a href="#"><img src="http://soundtrot.com/images/master-card.jpg" height="35px" width="70px" alt='' /></a>
        </td>
        <td>
           <a href="#"><img src="http://soundtrot.com/images/discover.jpg" height="35px" width="70px" alt='' /></a>
        </td>
        <td>
           <a href="#"><img src="http://soundtrot.com/images/american.jpg" height="35px" width="70px" alt='' /></a>
        </td>
      </tr>
    </table>
  </div> -->
  <div id="DIV_49">
  </div>
</div>

</div>