<div class="footer">
    <div id="footer_container">
    <div id="footer_wrapper">
      <div class="footer">
        <div class="foot-col1">
          <h2>Quick Links</h2>
          <p><a href="how-it-works">How it works?</a></p>
          <p><a href="discover">Discover</a></p>
          <p><a href="contact-us">About us</a></p>
                    <p><a href="contact-us">Jobs</a></p>
        </div>
        <div class="foot-col2">
          <h2>Service</h2>
          <p><a href="#">FAQs</a></p>
                    <p><a href="#">Terms & Conditions</a></p>
          <p><a href="#">Cancellations</a></p>
          <p><a href="#">Refunds</a></p>
        </div>  
        <div class="foot-col3"> 
          <h2>Support</h2>
          <p><a href="#"><img src="images/phone.png">+91 22 6525 5590</a></p>
                    <p><a href="#"><img src="images/mail.png">info@chorush.com</a></p>
          <p><a href="#"><img src="images/tweet.png">@soundtrot</a></p>
          <p><a href="#"><img src="images/where.png">Mumbai, IND</a></p>  
        </div>
        <div class="foot-col4">
          <h2>Secure Payments</h2>
          <img src="images/ebs.png">
        </div>
      </div><!-- END div#footer -->
            <center>
            <div class="socialtab">
            <a href="http://twitter.com/soundtrot" target="_blank"><img src="images/twitter.png" style="padding:10px;"></a>
            <a href="http://facebook.com/soundtrot" target="_blank"><img src="images/facebook.png" style="padding:10px;"></a>
            <a href="http://instagram.com/soundtrot" target="_blank"><img src="images/youtube.png" style="padding:10px;"/></a>
            </div><hr style="background-color:#7C7C7C; width:100%; height:1px; margin:20px 0px; border:none;">
            <img src="images/soundtrot-footer.png">
                <p style="color:#A7A9AB">@ 2012-2014 - Chorush Entertainment Pvt. Ltd., Mumbai | Coded with love at <a href="http://www.crazypencilmedia.com" style="font-weight:bold; color:#fff;">Crazy Pencil Media</a></p>
                    </center>
        </div>
        <!--<div class="col3">

          <img src="images/pay-sec-full.png" height="45px" border="0" />
          <table cellpadding="0" cellspacing="0" width="450px" height="45px" style="background: url(images/pay-bg.jpg);margin: 3px 0px 0px 0px;">
            <tr>
            < <td>
                <a href="#" target="blank"><img src="images/pay-sec.jpg" width="110px" height="45px" border="0" /></a>
              </td>
              <td>
                <a href="#" target="blank"><img src="images/safe-secure.jpg" style="margin:0px 15px 0px 15px" height="35px" width="70px" border="0" /></a>
              </td>
              <td>
                <a href="#" target="blank"><img src="images/visa.jpg" height="35px" width="70px" border="0" /></a>
              </td>
              <td>
                <a href="#" target="blank"><img src="images/master-card.jpg" height="35px" width="70px" border="0" /></a>
              </td>
              <td>
                <a href="#" target="blank"><img src="images/discover.jpg" height="35px" width="70px" border="0" /></a>
              </td>
              <td>
                <a href="#" target="blank"><img src="images/american.jpg" style="padding:0px 10px 0px 0px" height="35px" width="70px" border="0" /></a>
              </td>
            </tr>
          </table>
        </div>-->
        <div class="clear"></div>
      </div>
      
    </div><!-- END div#footer_wrapper -->
  </div><!-- END div#footer_container -->
</div>