<style>
  #DIV_1 {
    color: rgb(68, 68, 68);
    height: 276px;
    width: 1308px;
    perspective-origin: 654px 138px;
    transform-origin: 654px 138px;
    background: rgb(56, 17, 62) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_1*/

#DIV_2 {
    color: rgb(68, 68, 68);
    height: 276px;
    width: 1308px;
    perspective-origin: 654px 138px;
    transform-origin: 654px 138px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    clear: both;
    color: rgb(68, 68, 68);
    width: 1308px;
    perspective-origin: 654px 0px;
    transform-origin: 654px 0px;
    content: '.';
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 0px/0px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#DIV_2:after*/

#DIV_3 {
    color: rgb(68, 68, 68);
    height: 66px;
    text-align: left;
    width: 1308px;
    perspective-origin: 654px 33px;
    transform-origin: 654px 33px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_3*/

#DIV_4 {
    color: rgb(68, 68, 68);
    height: 66px;
    text-align: left;
    width: 1200px;
    perspective-origin: 600px 33px;
    transform-origin: 600px 33px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 0px 54px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_4*/

#DIV_5 {
    color: rgb(68, 68, 68);
    text-align: left;
    width: 1200px;
    perspective-origin: 600px 0px;
    transform-origin: 600px 0px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_5*/

#LINK_6, #SCRIPT_26 {
    color: rgb(68, 68, 68);
    text-align: left;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#LINK_6, #SCRIPT_26*/

#DIV_7 {
    color: rgb(68, 68, 68);
    float: right;
    height: 29px;
    text-align: left;
    width: 108px;
    perspective-origin: 59px 14.5px;
    transform-origin: 59px 14.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 10px 90px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 0px 0px 10px;
}/*#DIV_7*/

#DIV_8 {
    box-shadow: rgba(50, 50, 50, 0.0980392) 0px 1px 1px 0px;
    color: rgb(102, 102, 102);
    cursor: pointer;
    height: 19px;
    position: relative;
    text-align: left;
    width: 50px;
    z-index: 100;
    perspective-origin: 38px 14.5px;
    transform-origin: 38px 14.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    border-radius: 3px 3px 3px 3px;
    font: normal normal bold 13px/19.5px Tahoma, Helvetica, Arial, sans-serif;
    margin: 0px 16px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 4px 10px 4px 14px;
}/*#DIV_8*/

#DIV_8:after {
    color: rgb(102, 102, 102);
    cursor: pointer;
    position: absolute;
    right: 10px;
    text-align: left;
    top: 139.90625px;
    perspective-origin: 6px 5px;
    transform-origin: 6px 5px;
    content: '';
    border-top: 10px solid rgb(170, 170, 170);
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 0px solid rgb(170, 170, 170);
    border-left: 6px solid rgba(0, 0, 0, 0);
    font: normal normal bold 13px/19.5px Tahoma, Helvetica, Arial, sans-serif;
    margin: -3px 0px 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#DIV_8:after*/

#SPAN_9 {
    color: rgb(102, 102, 102);
    cursor: pointer;
    text-align: left;
    border: 0px none rgb(102, 102, 102);
    font: normal normal bold 13px/19.5px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_9*/

#UL_10 {
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 5px 0px;
    color: rgb(102, 102, 102);
    cursor: pointer;
    height: 109px;
    left: 0px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 333.890625px;
    width: 70.296875px;
    z-index: 0;
    perspective-origin: 36.140625px 65.5px;
    transform-origin: 36.140625px 65.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0.168627);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal 13px/19.5px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 10px 0px;
    transition: all 0.5s ease-in 0s;
}/*#UL_10*/

#LI_11, #LI_14, #LI_17, #LI_20 {
    color: rgb(177, 177, 177);
    cursor: pointer;
    height: 22px;
    pointer-events: none;
    width: 70.296875px;
    perspective-origin: 35.140625px 11px;
    transform-origin: 35.140625px 11px;
    border: 0px none rgb(177, 177, 177);
    font: normal normal normal 13px/19.5px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    outline: rgb(177, 177, 177) none 0px;
}/*#LI_11, #LI_14, #LI_17, #LI_20*/

#A_12 {
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
    color: rgb(68, 68, 68);
    display: block;
    height: 19px;
    pointer-events: none;
    text-align: left;
    text-decoration: none;
    width: 60.296875px;
    perspective-origin: 35.140625px 11px;
    transform-origin: 35.140625px 11px;
    border-top: 0px none rgb(68, 68, 68);
    border-right: 0px none rgb(68, 68, 68);
    border-bottom: 1px solid rgb(230, 232, 234);
    border-left: 0px none rgb(68, 68, 68);
    border-radius: 7px 7px 0 0;
    font: normal normal bold 13px/19.5px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    outline: rgb(68, 68, 68) none 0px;
    padding: 1px 3px 1px 7px;
    transition: all 0.3s ease-out 0s;
}/*#A_12*/

#I_13, #I_16, #I_19, #I_22, #I_25 {
    color: rgb(68, 68, 68);
    display: block;
    float: right;
    height: 0px;
    pointer-events: none;
    text-align: left;
    width: 0px;
    border: 0px none rgb(68, 68, 68);
    font: italic normal bold 13px/19.5px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    outline: rgb(68, 68, 68) none 0px;
}/*#I_13, #I_16, #I_19, #I_22, #I_25*/

#A_15, #A_18 {
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
    color: rgb(68, 68, 68);
    display: block;
    height: 19px;
    pointer-events: none;
    text-align: left;
    text-decoration: none;
    width: 60.296875px;
    perspective-origin: 35.140625px 11px;
    transform-origin: 35.140625px 11px;
    border-top: 0px none rgb(68, 68, 68);
    border-right: 0px none rgb(68, 68, 68);
    border-bottom: 1px solid rgb(230, 232, 234);
    border-left: 0px none rgb(68, 68, 68);
    font: normal normal bold 13px/19.5px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    outline: rgb(68, 68, 68) none 0px;
    padding: 1px 3px 1px 7px;
    transition: all 0.3s ease-out 0s;
}/*#A_15, #A_18*/

#A_21 {
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
    color: rgb(68, 68, 68);
    display: block;
    height: 19px;
    pointer-events: none;
    text-align: left;
    text-decoration: none;
    width: 60.296875px;
    perspective-origin: 35.140625px 11px;
    transform-origin: 35.140625px 11px;
    border-top: 0px none rgb(68, 68, 68);
    border-right: 0px none rgb(68, 68, 68);
    border-bottom: 1px solid rgb(230, 232, 234);
    border-left: 0px none rgb(68, 68, 68);
    font: normal normal bold 13px/19.5px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    outline: rgb(68, 68, 68) none 0px;
    padding: 1px 3px 1px 7px;
    transition: all 0.3s ease-out 0s;
}/*#A_21*/

#LI_23 {
    color: rgb(177, 177, 177);
    cursor: pointer;
    height: 21px;
    pointer-events: none;
    width: 70.296875px;
    perspective-origin: 35.140625px 10.5px;
    transform-origin: 35.140625px 10.5px;
    border: 0px none rgb(177, 177, 177);
    font: normal normal normal 13px/19.5px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    outline: rgb(177, 177, 177) none 0px;
}/*#LI_23*/

#A_24 {
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
    color: rgb(68, 68, 68);
    display: block;
    height: 19px;
    pointer-events: none;
    text-align: left;
    text-decoration: none;
    width: 60.296875px;
    perspective-origin: 35.140625px 10.5px;
    transform-origin: 35.140625px 10.5px;
    border: 0px none rgb(68, 68, 68);
    border-radius: 0 0 7px 7px;
    font: normal normal bold 13px/19.5px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    outline: rgb(68, 68, 68) none 0px;
    padding: 1px 3px 1px 7px;
    transition: all 0.3s ease-out 0s;
}/*#A_24*/

#DIV_27 {
    color: rgb(68, 68, 68);
    float: left;
    height: 160px;
    text-align: left;
    width: 282px;
    perspective-origin: 141px 80px;
    transform-origin: 141px 80px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 10px 16px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#DIV_27*/

#UL_28 {
    color: rgb(68, 68, 68);
    height: 140px;
    text-align: left;
    width: 267.890625px;
    perspective-origin: 133.9375px 80px;
    transform-origin: 133.9375px 80px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 10px 0px;
}/*#UL_28*/

#LI_29, #LI_31, #LI_33, #LI_35, #LI_39, #LI_41, #LI_43 {
    color: rgb(255, 255, 255);
    height: 20px;
    position: relative;
    width: 257.890625px;
    perspective-origin: 133.9375px 17.5px;
    transform-origin: 133.9375px 17.5px;
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 1px solid rgb(85, 85, 85);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/20px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 4px 10px 10px 0px;
}/*#LI_29, #LI_31, #LI_33, #LI_35, #LI_39, #LI_41, #LI_43*/

#A_30, #A_32, #A_36, #A_40, #A_44, #A_48, #A_50, #A_52, #A_54 {
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/20px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_30, #A_32, #A_36, #A_40, #A_44, #A_48, #A_50, #A_52, #A_54*/

#A_34, #A_42 {
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/20px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_34, #A_42*/

#DIV_37 {
    color: rgb(68, 68, 68);
    float: left;
    height: 125px;
    text-align: left;
    width: 282px;
    perspective-origin: 141px 62.5px;
    transform-origin: 141px 62.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 10px 16px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#DIV_37*/

#UL_38 {
    color: rgb(68, 68, 68);
    height: 105px;
    text-align: left;
    width: 267.890625px;
    perspective-origin: 133.9375px 62.5px;
    transform-origin: 133.9375px 62.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 10px 0px;
}/*#UL_38*/

#DIV_45 {
    color: rgb(68, 68, 68);
    float: left;
    height: 175px;
    text-align: left;
    width: 282px;
    perspective-origin: 141px 87.5px;
    transform-origin: 141px 87.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 10px 16px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#DIV_45*/

#UL_46 {
    color: rgb(68, 68, 68);
    height: 155px;
    text-align: left;
    width: 267.890625px;
    perspective-origin: 133.9375px 87.5px;
    transform-origin: 133.9375px 87.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 10px 0px;
}/*#UL_46*/

#LI_47 {
    background-position: 0px 2px;
    color: rgb(255, 255, 255);
    height: 20px;
    position: relative;
    width: 232.890625px;
    perspective-origin: 133.9375px 17.5px;
    transform-origin: 133.9375px 17.5px;
    background: rgba(0, 0, 0, 0) url(http://d3b0nyjpldz569.cloudfront.net/skin/frontend/default/mobileshoppe/images/facebook_footer.png) no-repeat scroll 0px 2px / auto padding-box border-box;
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 1px solid rgb(85, 85, 85);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/20px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 4px 10px 10px 25px;
}/*#LI_47*/

#LI_49 {
    background-position: 0px 2px;
    color: rgb(255, 255, 255);
    height: 20px;
    position: relative;
    width: 232.890625px;
    perspective-origin: 133.9375px 17.5px;
    transform-origin: 133.9375px 17.5px;
    background: rgba(0, 0, 0, 0) url(http://d3b0nyjpldz569.cloudfront.net/skin/frontend/default/mobileshoppe/images/tweeter_footer.png) no-repeat scroll 0px 2px / auto padding-box border-box;
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 1px solid rgb(85, 85, 85);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/20px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    margin: 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 4px 10px 10px 25px;
}/*#LI_49*/

#LI_51 {
    background-position: 0px 2px;
    color: rgb(255, 255, 255);
    height: 20px;
    position: relative;
    width: 232.890625px;
    perspective-origin: 133.9375px 17.5px;
    transform-origin: 133.9375px 17.5px;
    background: rgba(0, 0, 0, 0) url(http://d3b0nyjpldz569.cloudfront.net/skin/frontend/default/mobileshoppe/images/LinkedIn_footer.png) no-repeat scroll 0px 2px / auto padding-box border-box;
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 1px solid rgb(85, 85, 85);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/20px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    margin: 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 4px 10px 10px 25px;
}/*#LI_51*/

#LI_53 {
    background-position: 0px 2px;
    color: rgb(255, 255, 255);
    height: 20px;
    position: relative;
    width: 232.890625px;
    perspective-origin: 133.9375px 17.5px;
    transform-origin: 133.9375px 17.5px;
    background: rgba(0, 0, 0, 0) url(http://d3b0nyjpldz569.cloudfront.net/skin/frontend/default/mobileshoppe/images/google-plus_footer.png) no-repeat scroll 0px 2px / auto padding-box border-box;
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 1px solid rgb(85, 85, 85);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/20px Tahoma, Helvetica, Arial, sans-serif;
    list-style: none inside none;
    margin: 5px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 4px 10px 10px 25px;
}/*#LI_53*/

#DIV_55 {
    color: rgb(68, 68, 68);
    float: left;
    height: 163px;
    text-align: left;
    width: 282px;
    perspective-origin: 141px 81.5px;
    transform-origin: 141px 81.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 10px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
    overflow: hidden;
}/*#DIV_55*/

#DIV_56 {
    color: rgb(68, 68, 68);
    float: left;
    height: 131px;
    position: relative;
    text-align: left;
    width: 132.53125px;
    perspective-origin: 72.265625px 71.5px;
    transform-origin: 72.265625px 71.5px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 5px 5px 5px 5px;
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 10px 10px 10px 0px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 5px;
}/*#DIV_56*/

#DIV_57 {
    color: rgb(68, 68, 68);
    float: left;
    height: 131px;
    text-align: left;
    width: 132.53125px;
    perspective-origin: 66.265625px 65.5px;
    transform-origin: 66.265625px 65.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_57*/

#DIV_58 {
    color: rgb(255, 255, 255);
    float: left;
    height: 19px;
    text-align: center;
    width: 132.53125px;
    perspective-origin: 66.265625px 9.5px;
    transform-origin: 66.265625px 9.5px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/19.5px Tahoma, Helvetica, Arial, sans-serif;
    margin: 0px 0px 5px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_58*/

#IMG_59 {
    color: rgb(68, 68, 68);
    height: 29.796875px;
    max-width: 100%;
    text-align: center;
    vertical-align: top;
    width: 132.53125px;
    perspective-origin: 66.265625px 14.890625px;
    transform-origin: 66.265625px 14.890625px;
    border: 0px none rgb(68, 68, 68);
    border-radius: 5px 5px 5px 5px;
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 0px 0px 5px;
    outline: rgb(68, 68, 68) none 0px;
}/*#IMG_59*/

#IMG_60 {
    color: rgb(68, 68, 68);
    height: 68.40625px;
    max-width: 100%;
    text-align: center;
    vertical-align: top;
    width: 132.53125px;
    perspective-origin: 66.265625px 34.203125px;
    transform-origin: 66.265625px 34.203125px;
    border: 0px none rgb(68, 68, 68);
    border-radius: 5px 5px 5px 5px;
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 0px 0px 5px;
    outline: rgb(68, 68, 68) none 0px;
}/*#IMG_60*/

#DIV_61 {
    color: rgb(68, 68, 68);
    float: left;
    height: 50px;
    position: relative;
    text-align: left;
    width: 115px;
    perspective-origin: 63.5px 31px;
    transform-origin: 63.5px 31px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 5px 5px 5px 5px;
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 10px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 5px;
}/*#DIV_61*/

#A_62 {
    background-position: 0px 0px;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: 50px;
    text-align: center;
    text-decoration: none;
    width: 85px;
    perspective-origin: 57.5px 25px;
    transform-origin: 57.5px 25px;
    background: rgba(0, 0, 0, 0) url(http://d3b0nyjpldz569.cloudfront.net/skin/frontend/default/mobileshoppe/images/call_us.png) no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/16px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 0px 30px;
}/*#A_62*/

#BR_63, #BR_64 {
    color: rgb(255, 255, 255);
    text-align: center;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 13px/16px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BR_63, #BR_64*/

#DIV_65 {
    color: rgb(68, 68, 68);
    height: 66px;
    min-height: 66px;
    text-align: left;
    width: 1200px;
    perspective-origin: 600px 33px;
    transform-origin: 600px 33px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_65*/

#DIV_66 {
    color: rgb(68, 68, 68);
    float: left;
    height: 61px;
    text-align: left;
    width: 1200px;
    perspective-origin: 600px 30.5px;
    transform-origin: 600px 30.5px;
    border: 0px none rgb(68, 68, 68);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 3px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_66*/

#P_67 {
    color: rgb(102, 102, 102);
    float: left;
    height: 18px;
    position: relative;
    text-align: left;
    width: 147.59375px;
    perspective-origin: 73.796875px 9px;
    transform-origin: 73.796875px 9px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 10px 0px 9px;
    outline: rgb(102, 102, 102) none 0px;
}/*#P_67*/

#DIV_68 {
    color: rgb(102, 102, 102);
    float: right;
    height: 46px;
    position: relative;
    text-align: left;
    width: 192px;
    perspective-origin: 96px 23px;
    transform-origin: 96px 23px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    margin: 14px 0px 1px;
    outline: rgb(102, 102, 102) none 0px;
}/*#DIV_68*/

#A_69 {
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_69*/

#IMG_70 {
    color: rgb(255, 255, 255);
    height: 40px;
    left: 3px;
    max-width: 100%;
    position: relative;
    text-align: left;
    top: -16px;
    vertical-align: top;
    width: 100px;
    perspective-origin: 53px 23px;
    transform-origin: 53px 23px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal normal 12px/18px Tahoma, Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px;
}/*#IMG_70*/



</style>
<div class="footer">

<div id="DIV_1">
  <div id="DIV_2">
    <div id="DIV_3">
      <div id="DIV_4">
        <div id="DIV_5">
          <!--
          <div>

            <select name="currency">

              <option value="http://www.muzenly.com/directory/currency/switch/currency/GBP/uenc/aHR0cDovL3d3dy5tdXplbmx5LmNvbS9zdW5idXJuLXRpY2tldHMtcm9vbW5ob3VzZS5odG1s/">
                British Pound Sterling - GBP
              </option>
              <option value="http://www.muzenly.com/directory/currency/switch/currency/CAD/uenc/aHR0cDovL3d3dy5tdXplbmx5LmNvbS9zdW5idXJuLXRpY2tldHMtcm9vbW5ob3VzZS5odG1s/">
                Canadian Dollar - CAD
              </option>
              <option value="http://www.muzenly.com/directory/currency/switch/currency/EUR/uenc/aHR0cDovL3d3dy5tdXplbmx5LmNvbS9zdW5idXJuLXRpY2tldHMtcm9vbW5ob3VzZS5odG1s/">
                Euro - EUR
              </option>
              <option value="http://www.muzenly.com/directory/currency/switch/currency/INR/uenc/aHR0cDovL3d3dy5tdXplbmx5LmNvbS9zdW5idXJuLXRpY2tldHMtcm9vbW5ob3VzZS5odG1s/" selected="selected">
                Indian Rupee - INR
              </option>
              <option value="http://www.muzenly.com/directory/currency/switch/currency/USD/uenc/aHR0cDovL3d3dy5tdXplbmx5LmNvbS9zdW5idXJuLXRpY2tldHMtcm9vbW5ob3VzZS5odG1s/">
                US Dollar - USD
              </option>
            </select>
          </div> -->
          <link rel="stylesheet" href="http://d3b0nyjpldz569.cloudfront.net/skin/frontend/default/mobileshoppe/css/select_dropdown.css" type="text/css" id="LINK_6" />
          <div id="DIV_27">
              <ul id="UL_28">
                <li id="LI_29">
                  <a href="http://www.muzenly.com/aboutus" id="A_30">About Us</a>
                </li>
                <li id="LI_31">
                  <a href="http://www.muzenly.com/faqs" id="A_32">FAQs</a>
                </li>
                <li id="LI_33">
                  <a href="http://www.muzenly.com/news" id="A_34">News</a>
                </li>
                <li id="LI_35">
                  <a href="http://www.muzenly.com/contacts" id="A_36">Contact Us</a>
                </li>
              </ul>
            </div>
          <div id="DIV_37">
              <ul id="UL_38">
                <li id="LI_39">
                  <a href="http://www.muzenly.com/privacy-policy" id="A_40">Privacy Policy</a>
                </li>
                <li id="LI_41">
                  <a href="http://www.muzenly.com/terms-of-use" id="A_42">Terms Of Use</a>
                </li>
                <li id="LI_43">
                  <a href="http://www.muzenly.com/cancellation-refund-policy" id="A_44">Cancellation Policy &amp; Refund Policy</a>
                </li>
              </ul>
            </div>
          <div id="DIV_45">
              <ul id="UL_46">
                <li id="LI_47">
                  <a href="https://www.facebook.com/muzenly" id="A_48">Facebook</a>
                </li>
                <li id="LI_49">
                  <a href="https://twitter.com/muzenly" id="A_50">Twitter</a>
                </li>
                <li id="LI_51">
                  <a href="http://www.linkedin.com/pub/muzenly-mumbai/85/477/2bb" id="A_52">Linkedin</a>
                </li>
                <li id="LI_53">
                  <a href="https://plus.google.com/b/114312569402168258562/" id="A_54">Google+</a>
                </li>
              </ul>
            </div>
          <div id="DIV_55">
              <div id="DIV_56">
                <div id="DIV_57">
                  <div id="DIV_58">
                    Secured Transactions
                  </div><img src="http://d3b0nyjpldz569.cloudfront.net/skin/frontend/default/mobileshoppe/images/ccavenue_home_logo.gif" alt="" id="IMG_59" /><img src="http://d3b0nyjpldz569.cloudfront.net/skin/frontend/default/mobileshoppe/images/paypal_home_logo.jpg" alt="" id="IMG_60" />
                </div>
              </div>
              <div id="DIV_61">
                <a href="http://www.muzenly.com/contacts" id="A_62">Any Queries<br id="BR_63" /> or<br id="BR_64" />Issues ?</a>
              </div>
            </div>
        </div>
        <div id="DIV_65">
            <div id="DIV_66">
              <p id="P_67">
                © 2013 All Rights Reserved
              </p>
              <div id="DIV_68">
                Designed By: <a href="http://www.rootsbridge.com/" id="A_69"><img src="http://d3b0nyjpldz569.cloudfront.net/skin/frontend/default/mobileshoppe/images/rootsbridgelogo.png" alt="" id="IMG_70" /></a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
