<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <ul>
          <li><h3 style="color:#111;padding-bottom:15px;">Company</h3></li>
          <li><a href="http://www.roomnhouse.com/aboutus">About Us</a></li>
          <li><a href="http://smartrecruiters.com/roomnhouse">Careers</a></li>
          <li><a href="http://roomnhouse.com/cancellation">Cancellation Policy</a></li>
          <li><a href="http://roomnhouse.com/support">Contact support</a></li>
          <li><a href="http://roomnhouse.com/privacy">Privacy Policy</a></li>
          <li><a href="http://roomnhouse.com/terms">Terms &amp; Condition</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul>
          <li><h3 style="color:#111;padding-bottom:15px;">Customer Service</h3></li>
          <li><a href="http://roomnhouse.com/help/topics/1">Help Center</a></li>
          <li><a href="http://roomnhouse.com/how">How it works</a></li>
          <li><a href="http://roomnhouse.com/whyhost">Why Host</a></li>
          <li><a href="http://roomnhouse.com/howtohost">How to Host</a></li>
          <li><a href="http://roomnhouse.com/floods">For a Cause</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul>
          <li><h3 style="color:#111;padding-bottom:15px;">Join us on</h3></li>
          <li><a href="http://blog.roomnhouse.com">Blog</a></li>
          <li><a href="https://www.facebook.com/roomnhouse" rel="me">Facebook</a></li>
          <li><a href="https://twitter.com/RoomNHouse" rel="me"> Twitter</a></li>
          <li><a href="https://plus.google.com/u/0/108260865872924249293/" rel="me">Google Plus</a></li>
          <li><a href="http://youtube.com/roomnhouse">Youtube</a></li>
          <li><a href="https://instagram.com/roomnhouse">Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul>
          <li><h3 style="color:#111;padding-bottom:15px;">Secured Payments</h3></li>
        </ul>
        <div class="payment"></div>
      </div>
    </div>

